html {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/** PAGES START **/

.page {
    --aside-height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

    .page__block {
        position: relative;
    }

        .page__block-wrapper {
            padding: 0 0 0 120px;
            position: relative;
        }

            .aside {
                height: 100%;
                left: 0;
                max-width: 120px;
                position: absolute;
                top: 0;
                width: 120px;
                z-index: 10;
            }

                .aside .page-block__nav-trigger {
                    visibility: hidden;
                }

            .aside.violet {
                background: #8418CC;
            }

            .aside.gray {
                background: #333333;;
            }

@media (max-width: 576px) {
    .mainpage {
        --aside-height: 50px;
    }

    .aside {
        background-color: #291D47;
        display: none;
        height: var(--aside-height);
        left: 0;
        max-width: none;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .aside .page-block__nav-trigger {
        visibility: visible;
    }

    .page__block-wrapper .mainpage__header-nav-trigger {
        display: none;
    }

    .aside .page-block__nav-trigger {
        background: transparent;
        border: 0;
        line-height: var(--aside-height);
        position: static;
    }

    .aside .page-block__nav-trigger img {
        height: 30px;
    }
}

.inner-wrapper {
    padding: 100px 120px 100px 140px;
    position: relative;
}

.inner-wrapper.no-padding-right {
    padding-right: 0;
}

.inner-wrapper.no-padding-top {
    padding-top: 0;
}

.inner-wrapper.no-padding-left {
    padding-left: 0;
}

.inner-wrapper.no-padding-bottom {
    padding-bottom: 0;
}


.inner-wrapper h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    margin-bottom: 50px;
}


.inner-wrapper h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    margin-bottom: 50px;
}

    .slick-dots li {
        height: 20px;
        margin-right: 20px;
        width: 20px;
    }

        .slick-dots li button {
            background-color: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }

            .slick-dots li button:before {
                display: none;
            }

    .flex {
        display: flex;
    }

        .flex.justify-content-space-between {
            justify-content: space-between;
        }

        .flex.justify-content-flex-start {
            justify-content: flex-start;
        }

        .flex.justify-content-flex-end {
            justify-content: flex-end;
        }

        .flex.align-items-flex-start {
            align-items: flex-start;
        }

        .flex.align-items-center {
            align-items: center;
        }

        .flex.align-items-flex-end {
            align-items: flex-end;
        }

        .flex.flex-direction-column {
            flex-direction: column;
        }

        .flex.flex-direction-row {
            flex-direction: row;
        }

@media (max-width: 1920px) {
    .inner-wrapper h2 {
        font-size: calc(75 / 1920 * 100vw);
        line-height: calc(91 / 1920 * 100vw);
        margin-bottom: calc(50 / 1920 * 100vw);
    }

    .inner-wrapper h3 {
        font-size: calc(55 / 1920 * 100vw);
        line-height: calc(67 / 1920 * 100vw);
        margin-bottom: calc(50 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .inner-wrapper h2 {
        font-size: calc(40 / 576 * 100vw);
        line-height: calc(48 / 576 * 100vw);
        margin-bottom: calc(20 / 576 * 100vw);
    }
}


@media (max-width: 1920px) {
    .page__block-wrapper {
        padding: 0 0 0 calc(120 / 1920 * 100vw);
    }

    .aside {
        width: calc(120 / 1920 * 100vw);
    }

    .aside .page-block__aside-page-number {
        font-size: calc(75 / 1920 * 100vw);
        line-height: calc(91 / 1920 * 100vw);
    }

    .page-block__aside-page-number-top,
    .page-block__aside-page-number-up {
        padding-top: calc(70 / 1920 * 100vw);
    }

    .page-block__aside-page-number-top {
        background-position-y: calc(56 / 1920 * 100vw);
    }

    .page-block__aside-page-number-up {
        background-position-y: calc(29 / 1920 * 100vw);
    }

    .page-block__aside-page-number-bottom,
    .page-block__aside-page-number-down {
        padding-bottom: calc(75 / 1920 * 100vw);
    }

    .page-block__aside-page-number-down {
        background-position-y: calc(100% - calc(30 / 1920 * 100vw));
    }

    .page-block__aside-page-number-bottom {
        background-position-y: calc(100% - calc(48 / 1920 * 100vw));
    }

    .inner-wrapper {
        padding: calc(100 / 1920 * 100vw) calc(120 / 1920 * 100vw) calc(100 / 1920 * 100vw) calc(140 / 1920 * 100vw);
        /*padding: calc(45 / 1920 * 100vw) calc(115 / 1920 * 100vw) calc(86 / 1920 * 100vw) calc(100 / 1920 * 100vw);*/
    }

    .slick-dots li {
        height: calc(20 / 1920 * 100vw);
        margin-right: calc(20 / 1920 * 100vw);
        width: calc(20 / 1920 * 100vw);
    }

        .slick-dots li button {
            height: calc(20 / 1920 * 100vw);
            width: calc(20 / 1920 * 100vw);
        }
}

@media (max-width: 576px) {
    .page__block-wrapper {
        padding: 0;
    }

    .page__block-header .aside {
        display: block;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .inner-wrapper {
        padding: calc(112 / 576 * 100vw) calc(86 / 576 * 100vw) calc(130 / 576 * 100vw) calc(86 / 576 * 100vw);
    }

        .inner-wrapper h3,
        .inner-wrapper h2 {
            font-size: calc(40 / 576 * 100vw);
            line-height: calc(48 / 576 * 100vw);
            margin-bottom: calc(28 / 576 * 100vw);
        }

    .slick-dots li {
        margin-right: calc(20 / 576 * 100vw);
    }

        .slick-dots li button {
            height: calc(20 / 576 * 100vw);
            width: calc(20 / 576 * 100vw);
        }

    .flex.flex-direction-row {
        flex-direction: column;
    }

    .flex.flex-direction-row-mobile {
        flex-direction: row !important;
    }
}
/** PAGES END **/


/** NAV START **/
.page__block-header-nav-trigger {
    background: transparent;
    border: 0;
    cursor: pointer;
    left: 190px;
    position: absolute;
    top: 67px;
    z-index: 10;
}

.page__block-header .nav {
    background: rgba(0, 0, 0, 0.7);
    left: 120px;
    width: 840px;
    padding-bottom: 170px;
    padding-top: 170px;
    position: absolute;
    top: 0;
    z-index: 2000;
}

.page__block-header .nav .page__block-header-nav-trigger {
    left: auto;
    right: 60px;
    top: 67px;
}

    .page__block-header-nav-trigger img {
        height: auto;
        width: 71px;
    }

.nav-close .nav {
    display: none;
}

.nav ul li {
    min-height: 61px;
}

.nav ul li a {
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 15px;
    padding-left: 70px;
    text-decoration: none;
}

@media (max-width: 576px) {
    .nav ul li a {
        font-size: calc(100vw / 15);
    }
}

@media (max-width: 1920px) {


    .page__block-header .nav {
        left: calc(120 / 1920 * 100vw);
        width: calc(840 / 1920 * 100vw);
        padding-bottom: calc(170 / 1920 * 100vw);
        padding-top: calc(170 / 1920 * 100vw);
    }

    .page__block-header .nav .page__block-header-nav-trigger {
        right: calc(60 / 1920 * 100vw);
        top: calc(67 / 1920 * 100vw);
    }

        .page__block-header-nav-trigger img {
            width: calc(71 / 1920 * 100vw);
        }

    .nav ul li {
        min-height: calc(61 / 1920 * 100vw);
    }

    .nav ul li a {
        font-size: calc(50 / 1920 * 100vw);
        line-height: calc(61 / 1920 * 100vw);
        margin-bottom: calc(15 / 1920 * 100vw);
        padding-left: calc(70 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .page:not(.nav-close) {
        overflow: hidden;
    }

    .page:not(.nav-close) .nav {
        background: #fff;
        display: block;
        height: 100vh;
        left: 0;
        overflow: auto;
        padding: calc(42 / 576 * 100vw) calc(86 / 576 * 100vw) calc(122 / 576 * 100vw) calc(86 / 576 * 100vw);
        position: fixed;
        top: 80px;
        width: 100vw;
        z-index: 10;
    }

    .page__block-header-nav-trigger {
        display: none;
    }

    .page.nav-close .aside .page-block__nav-trigger.open {
        display: block;
    }

    .page:not(.nav-close) .aside .page-block__nav-trigger.open {
        display: none;
    }

    .page.nav-close .aside .page-block__nav-trigger.close {
        display: none;
    }

    .page:not(.nav-close) .aside .page-block__nav-trigger.close {
        display: block;
    }


    .nav {
        display: none;
        background: #fff;
    }

        .nav ul {
            align-items: center;
            background: #fff;
            flex-direction: column;
            font-size: calc(40 / 576 * 100vw);
            justify-content: flex-start;
            line-height: calc(48 / 576 * 100vw);
            padding: 0;
            right: auto;
            width: 100%;
        }

        .nav.bright ul {
            background: #fff;
        }

            .nav ul li {
                margin-right: 0;
                margin-bottom: calc(40 / 576 * 100vw);
                min-height: calc(48 / 576 * 100vw);
            }

                .nav ul li a {
                    color: #000;
                    font-size: calc(40 / 576 * 100vw);
                    line-height: calc(48 / 576 * 100vw);
                    text-align: left;
                }

}
/** NAV END **/

/** HEADER START **/
.page__block-header {
    background-color: #5C42A1;
    color: #fff;
}

    .page__block-header .inner-wrapper {
        height: 1080px;
        /*padding: 45px 122px 586px 86px;*/
    }

        .page__block-header .inner-wrapper .slick-dots {
            left: 1300px;
            position: absolute;
            top: 900px;
            width: auto;
        }

        .page__block-header .inner-wrapper .slick-list {
            height: 1080px;
            margin: -100px -120px -100px -260px;
            width: 1920px;
        }

        .page__block-header-title {
            color: #FFFFFF;
            font-weight: bold;
            font-size: 80px;
            line-height: 97px;
            left: 50%;
            position: absolute;
            top: 210px;
            transform: translateX(-50%);
        }

        .page__block-header .inner-wrapper .slide {
            background-size: cover;
            background-repeat: no-repeat;
            /*background-size: 1920px 1080px;*/
            height: 1080px;
            /*margin: -100px -120px -100px -260px;*/
            width: 1920px;
        }

        .page-block__sponsors {
            background-color: rgba(0, 0, 0, 0.3);
            display: grid;
            grid-gap: 60px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            padding: 56px 90px 52px 48px;
            position: absolute;
            right: 0;
            top: 190px;
            width: 367px;
            z-index: 1;
        }

            .page-block__sponsors-link {
                display: block;
                margin-bottom: var(--guide-day__sponsors-padding);
            }

            .page-block__sponsors-img {
                width: 100%;
            }

@media (max-width: 1920px) {
    .page__block-header-nav-trigger {
        left: calc(190 / 1920 * 100vw);
        top: calc(67 / 1920 * 100vw);
    }

    .page__block-header .inner-wrapper {
        height: calc(1080 / 1920 * 100vw);
        /*padding: calc(45 / 1920 * 100vw) calc(122 / 1920 * 100vw) calc(586 / 1920 * 100vw) calc(86 / 1920 * 100vw);*/
    }

        .page__block-header .inner-wrapper .slick-dots {
            left: calc(1300 / 1920 * 100vw);
            top: calc(900 / 1920 * 100vw);
        }

        .page__block-header-title {
            font-size: calc(80 / 1920 * 100vw);
            line-height: calc(97 / 1920 * 100vw);
            top: calc(210 / 1920 * 100vw);
        }

        .page__block-header .inner-wrapper .slick-list {
            height: calc(1080 / 1920 * 100vw);
            margin: calc(-100 / 1920 * 100vw) calc(-120 / 1920 * 100vw) calc(-100 / 1920 * 100vw) calc(-260 / 1920 * 100vw);
            width: calc(1920 / 1920 * 100vw);
        }

        .page__block-header .inner-wrapper .slide {
            /*background-size: calc(1920 / 1920 * 100vw) calc(1080 / 1920 * 100vw);*/
            height: calc(1080 / 1920 * 100vw);
            /*margin: calc(-100 / 1920 * 100vw) calc(-120 / 1920 * 100vw) calc(-100 / 1920 * 100vw) calc(-260 / 1920 * 100vw);*/
            width: calc(1920 / 1920 * 100vw);
        }


    .page-block__sponsors {
        grid-gap: calc(60 / 1920 * 100vw);
        padding: calc(56 / 1920 * 100vw) calc(90 / 1920 * 100vw) calc(52 / 1920 * 100vw) calc(48 / 1920 * 100vw);
        top: calc(190 / 1920 * 100vw);
        width: calc(367 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .page__block-header {
        text-align: center;
        margin-top: 80px;
    }

    .page__block-header .inner-wrapper {
        height: calc(585 / 576 * 100vw);
        position: relative;
        /*padding: 0 0 calc(117 / 576 * 100vw) 0;*/
    }

        .page__block-header .inner-wrapper .slick-dots {
            bottom: calc(80 / 576 * 100vw);
            display: block;
            left: 50%;
            top: auto;
            transform: translateX(-50%);
        }

            .page__block-header .inner-wrapper .slick-dots li {
                height: calc(20 / 800 * 100vw);
                margin-right: calc(20 / 800 * 100vw);
                width: calc(20 / 800 * 100vw);
            }

                .page__block-header .inner-wrapper .slick-dots li button {
                    height: calc(20 / 800 * 100vw);
                    width: calc(20 / 800 * 100vw);
                }

                    .page__block-header .inner-wrapper .slick-dots li button:before {
                        display: none;
                    }

        .page__block-header-title {
            font-size: calc(40 / 576 * 100vw);
            line-height: calc(48 / 576 * 100vw);
            top: calc(266 / 576 * 100vw);
        }

        .page__block-header .inner-wrapper .slick-list {
            height: calc(585 / 576 * 100vw);
            margin: calc(-112 / 576 * 100vw) calc(-86 / 576 * 100vw) calc(-130 / 576 * 100vw) calc(-86 / 576 * 100vw);
            width: calc(576 / 576 * 100vw);
        }

        .page__block-header .inner-wrapper .slide {
            /*background-size: calc(1920 / 1920 * 100vw) calc(1080 / 1920 * 100vw);*/
            height: calc(585 / 576 * 100vw);
            /*margin: calc(-112 / 576 * 100vw) calc(-86 / 576 * 100vw) calc(-130 / 576 * 100vw) calc(-86 / 576 * 100vw);*/
            width: calc(576 / 576 * 100vw);
        }

    .page-block__sponsors {
        background: rgba(0, 0, 0, 0.3);
        grid-gap: calc(48 / 576 * 100vw);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        left: 0;
        margin: 0 0 calc(40 / 576 * 100vw) 0;
        padding: calc(43 / 576 * 100vw) calc(48 / 576 * 100vw) calc(45 / 576 * 100vw) calc(48 / 576 * 100vw);
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .page-block__sponsors-link.desktop {
        display: none;
    }

    .page-block__sponsors-link.mobile {
        display: block;
    }


    .page__block-header .aside {
        display: block;
        left: 0;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .aside .page-block__aside-page-number {
        display: none;
    }

    .page__block-header .aside .page-block__nav-trigger {
        display: block;
        left: 50vw;
        position: fixed;
        top: 40px;
        transform: translate(-50%, -50%);
    }

}
/** HEADER END **/

/** COMMON INFO START **/
.page__block-common-info {

}

    .page__block-common-info .page__block-wrapper {
        background: #E5E5E5;
    }

        .page__block-common-info .page__block-wrapper .inner-wrapper {

        }

            .page__block-common-info-title {
                display: grid;
                grid-column-gap: 10px;
                grid-template-columns: auto 431px 346px;
            }

                .page__block-common-info-title .page__block-common-info-header {
                    margin-bottom: 0;
                }

                .page__block-common-info-title .styled-select {
                    width: 100%;
                }

                .page__block-common-info-filter-year .styled-select-items {
                    width: 100%;
                }

@media (max-width: 1920px) {
    .page__block-common-info {

    }

        .page__block-common-info .page__block-wrapper {

        }

            .page__block-common-info .page__block-wrapper .inner-wrapper {

            }

                .page__block-common-info-title {
                    grid-column-gap: calc(10 / 1920 * 100vw);
                    grid-template-columns: auto calc(431 / 1920 * 100vw) calc(346 / 1920 * 100vw);
                }

                    .page__block-common-info-title .page__block-common-info-header {

                    }

                    .page__block-common-info-title .styled-select {

                    }
}

@media (max-width: 576px) {
    .page__block-common-info {

    }

        .page__block-common-info .page__block-wrapper {
            background-color: #fff;
        }

            .page__block-common-info .page__block-wrapper .inner-wrapper {

            }

                .page__block-common-info-title {
                    grid-row-gap: calc(20 / 576 * 100vw);
                    grid-template-columns: auto;
                }

                    .page__block-common-info-title .page__block-common-info-header {
                        margin-bottom: calc(10 / 576 * 100vw);
                    }

                    .page__block-common-info-title .styled-select {

                    }
}
/** COMMON INFO END **/

/** TWO COLUMNS START **/
.two-columns {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1920px) {
    .two-columns {
        grid-column-gap: calc(80 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .two-columns {
        grid-column-gap: 0;
        grid-row-gap: calc(24 / 576 * 100vw);
        grid-template-columns: 1fr;
    }
}
/** TWO COLUMNS END **/

/** THREE COLUMNS START **/
.three-columns {
    display: grid;
    grid-column-gap: 43px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1920px) {
    .three-columns {
        grid-column-gap: calc(43 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .three-columns {
        grid-row-gap: calc(34 / 576 * 100vw);
        grid-template-columns: 1fr;
    }
}
/** THREE COLUMNS END **/

/** SEMI-CIRCLES START **/
.with-semi-circle {
    background-image: url("../img/svg/semi-circle.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 30px 60px;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-left: 51px;
}

.without-semi-circle {
    padding-left: 51px;
}

@media (max-width: 1920px) {
    .with-semi-circle {
        background-size: calc(30 / 1920 * 100vw) calc(60 / 1920 * 100vw);
        margin-bottom: calc(-30 / 1920 * 100vw);
        padding-bottom: calc(30 / 1920 * 100vw);
        padding-left: calc(51 / 1920 * 100vw);
    }

    .without-semi-circle {
        padding-left: calc(51 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {
    .with-semi-circle {
        background-size: calc(16 / 576 * 100vw) calc(32 / 576 * 100vw);
        margin-bottom: calc(-16 / 576 * 100vw);
        padding-bottom: calc(16 / 576 * 100vw);
        padding-left: calc(26 / 576 * 100vw);
    }

    .without-semi-circle {
        padding-left: calc(26 / 576 * 100vw);
    }
}
/** SEMI-CIRCLES END **/

/** COLLAPSABLE START **/
.collapsable:not(.expanded) .expanded {
    display: none;
}

.collapsable.expanded .collapsed {
    display: none;
}

.collapsable.hidden {
    display: none !important;
}

    .collapsable .highlight-found {
        background: #FFEA03;
        color: #000;
    }

.collapsable-content-item {
    background: #F2F2F2;
    color: #000;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 40px;
    padding: 28px 36px 44px 36px;
}

    .collapsable-content-item:last-child {
        margin-bottom: 0;
    }

    .collapsable-content-item.collapsed {

    }

    .collapsable-content-item .highlight-text {
        color: #b3b3b3;
    }

    .collapsable-content-item .highlight-text-block {
        margin-bottom: 12px;
    }

    .collapsable-content-item .scroller {
        height: 385px;
        overflow: auto;
        margin-bottom: 44px;
    }

    .collapsable-content-item-block {
        margin-bottom: 35px;
    }

        .collapsable-content-item-block:last-child {
            margin-bottom: 0;
        }

        .collapsable-content-item-block.delimiter {
            border-bottom: solid 8px #fff;
            margin-bottom: 28px;
            padding-bottom: 35px;
        }

        .collapsable-content-item-buttons {
            margin-bottom: 0;
        }

            .collapsable-content-item-buttons button {
                background-color: #B3B3B3;
                border: 0;
                color: #fff;
                font-weight: bold;
                font-size: 35px;
                line-height: 42px;
                padding: 14px 92px 14px 30px;
            }

            .collapsable-content-item-button-expand {
                background-image: url("../img/svg/bg-expand-item.svg");
                background-position-x: 257px;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: 35px 24px;
            }

            .collapsable-content-item-button-collapse {
                background-image: url("../img/svg/bg-collapse-item.svg");
                background-position-x: 228px;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: 35px 35px;
                padding-right: 92px;
            }

    .collapsable-content-item-text-block-item {
        margin-bottom: 32px;
    }

        .collapsable-content-item-text-block {

        }

            .collapsable-content-item-text-block .collapsable-content-item-text-block-text {
                font-weight: 500;
                font-size: 23px;
                line-height: 28px;
            }

                .collapsable-content-item-text-block .collapsable-content-item-text-block-text:last-child {
                    margin-bottom: 0;
                }

@media (max-width: 1920px) {
    .collapsable-content-item {
        font-size: calc(35 / 1920 * 100vw);
        line-height: calc(42 / 1920 * 100vw);
        margin-bottom: calc(40 / 1920 * 100vw);
        padding: calc(28 / 1920 * 100vw) calc(36 / 1920 * 100vw) calc(44 / 1920 * 100vw) calc(36 / 1920 * 100vw);
    }

        .collapsable-content-item .highlight-text-block {
            margin-bottom: calc(12 / 1920 * 100vw);
        }

        .collapsable-content-item .scroller {
            height: calc(385 / 1920 * 100vw);
            margin-bottom: calc(44 / 1920 * 100vw);
        }

        .collapsable-content-item-block {
            margin-bottom: calc(35 / 1920 * 100vw);
        }

            .collapsable-content-item-block.delimiter {
                border-bottom-width: calc(8 / 1920 * 100vw);
                margin-bottom: calc(28 / 1920 * 100vw);
                padding-bottom: calc(35 / 1920 * 100vw);
            }

            .collapsable-content-item-buttons button {
                font-size: calc(35 / 1920 * 100vw);
                line-height: calc(42 / 1920 * 100vw);
                padding: calc(14 / 1920 * 100vw) calc(92 / 1920 * 100vw) calc(14 / 1920 * 100vw) calc(30 / 1920 * 100vw);
            }

            .collapsable-content-item-button-expand {
                background-position-x: calc(257 / 1920 * 100vw);
                background-size: calc(35 / 1920 * 100vw) calc(24 / 1920 * 100vw);
            }

            .collapsable-content-item-button-collapse {
                background-position-x: calc(228 / 1920 * 100vw);
                background-size: calc(35 / 1920 * 100vw) calc(35 / 1920 * 100vw);
                padding-right: calc(92 / 1920 * 100vw);
            }

        .collapsable-content-item-text-block-item {
            margin-bottom: calc(32 / 1920 * 100vw);
        }

            .collapsable-content-item-text-block {

            }

                .collapsable-content-item-text-block .collapsable-content-item-text-block-text {
                    font-size: calc(23 / 1920 * 100vw);
                    line-height: calc(28 / 1920 * 100vw);
                }
}

@media (max-width: 576px) {
    .collapsable-content-item {
        font-size: calc(19 / 576 * 100vw);
        line-height: calc(23 / 576 * 100vw);
        margin-bottom: calc(58 / 576 * 100vw);
        margin-right: calc(-86 / 576 * 100vw);
        padding: calc(18 / 576 * 100vw) calc(22 / 576 * 100vw) calc(28 / 576 * 100vw) calc(18 / 576 * 100vw);
    }

        .collapsable-content-item .highlight-text-block {
            margin-bottom: calc(14 / 576 * 100vw);
        }

        .collapsable-content-item .scroller {
            height: auto;
            margin-bottom: calc(24 / 576 * 100vw);
        }

        .collapsable-content-item-block {
            margin-bottom: calc(24 / 576 * 100vw);
        }

            .collapsable-content-item-block.delimiter {
                border-bottom-width: calc(4 / 576 * 100vw);
                margin-bottom: calc(22 / 576 * 100vw);
                padding-bottom: calc(18 / 576 * 100vw);
            }

            .collapsable-content-item-buttons button {
                font-size: calc(19 / 576 * 100vw);
                line-height: calc(23 / 576 * 100vw);
                padding: calc(8 / 576 * 100vw) calc(40 / 576 * 100vw) calc(7 / 576 * 100vw) calc(14 / 576 * 100vw);
                margin-bottom: 0;
            }

            .collapsable-content-item-button-expand {
                background-position-x: calc(137 / 576 * 100vw);
                background-size: calc(12 / 576 * 100vw) calc(18 / 576 * 100vw);
                /*margin-bottom: calc(32 / 576 * 100vw);*/
            }

            .collapsable-content-item-button-collapse {
                background-position-x: calc(115 / 576 * 100vw);
                background-size: calc(18 / 576 * 100vw) calc(18 / 576 * 100vw);
                padding-right: calc(46 / 576 * 100vw);
                /*margin-bottom: calc(32 / 576 * 100vw);*/
            }

        .collapsable-content-item-text-block-item {
            margin-bottom: calc(28 / 576 * 100vw);
        }

            .collapsable-content-item-text-block {

            }

                .collapsable-content-item-text-block .collapsable-content-item-text-block-text {
                    font-size: calc(12 / 576 * 100vw);
                    line-height: calc(15 / 576 * 100vw);
                }
}
/** COLLAPSABLE END **/

/** CONTENT ITEM START **/
.page__block-content-item {

}

    .page__block-content-item .page__block-wrapper {

    }

        .page__block-content-item .page__block-wrapper .inner-wrapper {
            padding-top: 396px;
        }

            .page__block-content-item-title {

            }

                .page__block-content-item-header {
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 75px;
                    line-height: 91px;
                }

                .page__block-content-item-competition-name {
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 120px;
                    line-height: 145px;
                    margin-bottom: 14px;
                }

            .page__block-content-item-description {
                color: #000000;
                font-weight: bold;
                font-size: 35px;
                line-height: 42px;
                margin-bottom: 40px;
            }

            .page__block-content-item-content {
                margin-left: -140px;
                margin-right: -120px;
                padding-left: 140px;
                padding-right: 0;
                padding-top: 35px;
            }

                .page__block-content-item-content-item {
                    background-color: #fff;
                    padding: 58px 140px 98px 80px;
                    margin-bottom: 80px;
                }

                    .page__block-content-item-content-item:last-child {
                        margin-bottom: 0;
                    }

                    .page__block-content-item-content-item-header {
                        color: #000;
                        margin-bottom: 22px;
                    }

                    .page__block-content-item-content-item-hashtags {
                        font-weight: bold;
                        font-size: 35px;
                        line-height: 42px;
                        margin-bottom: 40px;
                        margin-right: -30px;
                    }

                        .page__block-content-item-content-item-hashtag {
                            color: #00BDE7;
                            cursor: pointer;
                        }

                        .page__block-content-item-content-item-hashtag.chosen {
                            color: #b3b3b3;
                        }

                    .page__block-content-item-content-item-content {
                        margin-right: -75px;
                        max-height: 1072px;
                        overflow-y: auto;
                        padding-right: 60px;
                    }

                        /* width */
                        .page__block-content-item-content-item-content::-webkit-scrollbar {
                            width: 15px;
                        }

                        /* Track */
                        .page__block-content-item-content-item-content::-webkit-scrollbar-track {
                            background: #f2f2f2;
                        }

                        /* Handle */
                        .page__block-content-item-content-item-content::-webkit-scrollbar-thumb {
                            background: #000;
                        }

                        /* Handle on hover */
                        .page__block-content-item-content-item-content::-webkit-scrollbar-thumb:hover {
                            background: #000;
                        }

@media (max-width: 1920px) {

    .page__block-content-item {

    }

        .page__block-content-item .page__block-wrapper {

        }

            .page__block-content-item .page__block-wrapper .inner-wrapper {

            }

                .page__block-content-item-title {

                }

                    .page__block-content-item-header {
                        font-size: calc(75 / 1920 * 100vw);
                        line-height: calc(91 / 1920 * 100vw);
                    }

                    .page__block-content-item-competition-name {
                        font-size: calc(120 / 1920 * 100vw);
                        line-height: calc(145 / 1920 * 100vw);
                        margin-bottom: calc(14 / 1920 * 100vw);
                    }

                .page__block-content-item-description {
                    font-size: calc(35 / 1920 * 100vw);
                    line-height: calc(42 / 1920 * 100vw);
                    margin-bottom: calc(40 / 1920 * 100vw);
                }

                .page__block-content-item-content {
                    margin-left: calc(-140 / 1920 * 100vw);
                    margin-right: calc(-120 / 1920 * 100vw);
                    padding-left: calc(140 / 1920 * 100vw);
                    padding-right: 0;
                    padding-top: calc(35 / 1920 * 100vw);
                }

                    .page__block-content-item-content-item {
                        padding: calc(58 / 1920 * 100vw) calc(140 / 1920 * 100vw) calc(98 / 1920 * 100vw) calc(80 / 1920 * 100vw);
                        margin-bottom: calc(80 / 1920 * 100vw);
                    }

                        .page__block-content-item-content-item-header {
                            margin-bottom: calc(22 / 1920 * 100vw);
                        }

                        .page__block-content-item-content-item-hashtags {
                            font-size: calc(35 / 1920 * 100vw);
                            line-height: calc(42 / 1920 * 100vw);
                            margin-bottom: calc(40 / 1920 * 100vw);
                            margin-right: calc(-30 / 1920 * 100vw);
                        }

                        .page__block-content-item-content-item-content {
                            margin-right: calc(-75 / 1920 * 100vw);
                            max-height: calc(1072 / 1920 * 100vw);
                            padding-right: calc(60 / 1920 * 100vw);
                        }

                            /* width */
                            .page__block-content-item-content-item-content::-webkit-scrollbar {
                                width: calc(15 / 1920 * 100vw);
                            }
}

@media (max-width: 576px) {

    .page__block-content-item {

    }

        .page__block-content-item .page__block-wrapper {

        }

            .page__block-content-item .page__block-wrapper .inner-wrapper {
                padding-top: calc(42 / 576 * 100vw);
            }

                .page__block-content-item-title {

                }

                    .page__block-content-item-header {
                        font-size: calc(40 / 576 * 100vw);
                        line-height: calc(48 / 576 * 100vw);
                    }

                    .page__block-content-item-competition-name {
                        font-size: calc(40 / 576 * 100vw);
                        line-height: calc(48 / 576 * 100vw);
                        margin-bottom: calc(20 / 576 * 100vw);
                    }

                .page__block-content-item-description {
                    font-size: calc(19 / 576 * 100vw);
                    line-height: calc(23 / 576 * 100vw);
                    margin-bottom: calc(6 / 576 * 100vw);
                }

                .page__block-content-item-content {
                    margin-left: calc(-86 / 576 * 100vw);
                    margin-right: calc(-86 / 576 * 100vw);
                    padding-left: calc(86 / 576 * 100vw);
                    padding-right: 0;
                    padding-top: calc(17 / 576 * 100vw);
                }

                    .page__block-content-item-content-item {
                        padding: calc(42 / 576 * 100vw) calc(86 / 576 * 100vw) calc(42 / 576 * 100vw) calc(42 / 576 * 100vw);
                        margin-bottom: calc(47 / 576 * 100vw);
                    }

                    .page__block-content-item-content-item {

                    }

                        .page__block-content-item .page__block-content-item-content .page__block-content-item-content-item-header {
                            font-size: calc(27 / 576 * 100vw);
                            line-height: calc(33 / 576 * 100vw);
                            margin-bottom: calc(18 / 576 * 100vw);
                        }

                        .page__block-content-item-content-item-hashtags {
                            font-size: calc(19 / 576 * 100vw);
                            line-height: calc(23 / 576 * 100vw);
                            margin-bottom: calc(32 / 576 * 100vw);
                            margin-right: 0;
                        }

                        .page__block-content-item-content-item-content {
                            margin-right: 0;
                            max-height: none;
                            overflow-y: visible;
                            padding-right: 0;
                        }
}
/** CONTENT ITEM  END **/

/** WINNERS START **/
.page__block-winners {

}

    .page__block-winners .page__block-wrapper {
        background-color: #01BB5A;
        background-image: url("../img/svg/winners-bg-top.svg");
        background-position-x: 120px;
        background-repeat: no-repeat;
        background-size: 1700px auto;
    }

        .page__block-winners .page__block-wrapper .inner-wrapper {
            background-image: url("../img/svg/winners-bg-bottom.svg");
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 202px 710px;
            padding-top: 396px;
        }

            .page__block-winners .page__block-content-item-competition-name {
                color: #FFFFFF;
                font-weight: bold;
                font-size: 120px;
                line-height: 145px;
                margin-bottom: 14px;
            }

            .page__block-winners .page__block-content-item-content {
                 background-image: url("../img/svg/winners-bg-middle.svg");
                 background-position: 56px top;
                 background-repeat: no-repeat;
                 background-size: 70px auto;
             }

@media (max-width: 1920px) {

    .page__block-winners {

    }

        .page__block-winners .page__block-wrapper {
            background-position-x: calc(120 / 1920 * 100vw);
            background-size: calc(1700 / 1920 * 100vw) auto;
        }

            .page__block-winners .page__block-wrapper .inner-wrapper {
                background-size: calc(202 / 1920 * 100vw) calc(710 / 1920 * 100vw);
                padding-top: calc(396 / 1920 * 100vw);
            }

                .page__block-winners .page__block-content-item-competition-name {
                    font-size: calc(120 / 1920 * 100vw);
                    line-height: calc(145 / 1920 * 100vw);
                    margin-bottom: calc(14 / 1920 * 100vw);
                }

                .page__block-winners .page__block-content-item-content {
                    background-position-x: calc(56 / 1920 * 100vw);
                    background-size: calc(70 / 1920 * 100vw) auto;
                }
}

@media (max-width: 576px) {

    .page__block-winners {

    }

        .page__block-winners .page__block-wrapper {
            background-image: url("../img/svg/winners-bg-mobile-top.svg");
            background-position: left calc(27 / 576 * 100vw);
            background-size: 100vw auto;
        }

            .page__block-winners .page__block-wrapper .inner-wrapper {
                background-image: none;
                padding-top: calc(42 / 576 * 100vw);
            }

                .page__block-winners .page__block-content-item-competition-name {
                    font-size: calc(40 / 576 * 100vw);
                    line-height: calc(48 / 576 * 100vw);
                    margin-bottom: calc(20 / 576 * 100vw);
                }

                .page__block-winners .page__block-content-item-content {
                    background-image: url("../img/svg/winners-bg-mobile-bottom.svg");
                    background-position: calc(23 / 576 * 100vw) top;
                    background-repeat: no-repeat;
                    background-size: auto calc(306 / 576 * 100vw);
                }


}
/** WINNERS END **/

/** INTERNET WINNERS START **/
.page__block-content-item-internet-winners {

}

    .page__block-content-item-internet-winners .page__block-content-item-internet-winners-header {
        color: #00BDE7;
        font-weight: bold;
        font-size: 75px;
        line-height: 91px;
        margin-bottom: 18px;
    }

        .page__block-content-item-internet-winners .collapsable-content-item {

        }

            .page__block-content-item-internet-winners .collapsable-content-item .scroller {

            }

                .page__block-content-item-internet-winners .collapsable-content-item .scroller .collapsable-content-item-block {
                    overflow-wrap: anywhere;
                }

@media (max-width: 1920px) {

    .page__block-content-item-internet-winners {

    }

        .page__block-content-item-internet-winners .page__block-content-item-internet-winners-header {
            font-size: calc(75 / 1920 * 100vw);
            line-height: calc(91 / 1920 * 100vw);
            margin-bottom: calc(18 / 1920 * 100vw);
        }
}

@media (max-width: 576px) {

    .page__block-content-item-internet-winners {

    }

        .page__block-content-item-internet-winners .page__block-content-item-internet-winners-header {
            font-size: calc(39 / 576 * 100vw);
            line-height: calc(48 / 576 * 100vw);
            margin-bottom: calc(22 / 576 * 100vw);
        }
}
/** INTERNET WINNERS END **/

/** ROUTES START **/
.page__block-routes {

}
    .page__block-routes .page__block-wrapper {
        background-color: #A8E0D8;
        background-image: url("../img/svg/route-bg-top.svg");
        background-position: 120px top;
        background-repeat: no-repeat;
        background-size: 608px auto;
    }

        .page__block-routes .page__block-wrapper .inner-wrapper {
            background-image: url("../img/svg/route-bg-bottom.svg");
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 207px 713px;
            padding-bottom: 59px;
            padding-top: 66px;
        }

            .page__block-routes .page__block-content-item-title {
                margin-bottom: 14px;
            }

                .page__block-routes .page__block-wrapper .inner-wrapper  .page__block-content-item-header {
                    color: #000;
                }

            .page__block-routes .page__block-content-item-description {
                color: #000;
            }

            .page__block-routes .page__block-content-item-content {

            }

                .page__block-routes .page__block-content-item-content-item {

                }

                .page__block-routes .page__block-content-item-content-item-header-container {
                    margin-bottom: 22px;
                }

                    .page__block-routes .page__block-content-item-content-item-header {
                        flex-grow: 1;
                        margin-bottom: 0;
                    }

                    .page__block-routes .page__block-content-item-content-item-name {
                        background: #F2F2F2;
                        border: 0;
                        color: #000;
                        height: 70px;
                        font-weight: bold;
                        font-size: 35px;
                        line-height: 42px;
                        margin-right: 40px;
                        padding: 14px 26px;
                        width: 349px;
                    }

                        .page__block-routes .page__block-content-item-content-item-name::placeholder {
                            color: #b3b3b3;
                        }

                    .page__block-routes .page__block-routes-filter-district {

                    }

                        .page__block-routes .page__block-routes-filter-district .styled-select-title {

                        }

                .page__block-routes .page__block-content-item-content-item-content {

                }

                    .page__block-routes .collapsable-content-item {

                    }

                        .page__block-routes .collapsable-content-item-header {

                        }

                            .page__block-routes .collapsable-icon {
                                height: auto;
                                width: 54px;
                            }

                .collapsable-content-item-buttons {

                }

                    .collapsable-content-item-buttons .collapsable-content-item-button-vote {
                        background: #00BDE7;
                        padding: 14px 30px;
                    }



@media (max-width: 1920px) {
    .page__block-routes {

    }

        .page__block-routes .page__block-wrapper {
            background-position-x: calc(120 / 1920 * 100vw);
            background-size: calc(608 / 1920 * 100vw) auto;
        }

            .page__block-routes .page__block-wrapper .inner-wrapper {
                background-size: calc(207 / 1920 * 100vw) calc(713 / 1920 * 100vw);
                padding-bottom: calc(59 / 1920 * 100vw);
                padding-top: calc(66 / 1920 * 100vw);
            }

                .page__block-routes .page__block-content-item-title {
                    margin-bottom: calc(14 / 1920 * 100vw);
                }

                    .page__block-routes .page__block-content-item-header {

                    }

                .page__block-routes .page__block-content-item-description {

                }

                .page__block-routes .page__block-content-item-content {

                }

                    .page__block-routes .page__block-content-item-content-item {

                    }

                    .page__block-routes .page__block-content-item-content-item-header-container {
                        margin-bottom: calc(22 / 1920 * 100vw);
                    }

                        .page__block-routes .page__block-content-item-content-item-header {
                            margin-bottom: 0;
                        }

                        .page__block-routes .page__block-content-item-content-item-name {
                            height: calc(70 / 1920 * 100vw);
                            font-size: calc(35 / 1920 * 100vw);
                            line-height: calc(42 / 1920 * 100vw);
                            margin-right: calc(40 / 1920 * 100vw);
                            padding: calc(14 / 1920 * 100vw) calc(26 / 1920 * 100vw);
                            width: calc(349 / 1920 * 100vw);
                        }

                        .page__block-routes .page__block-routes-filter-district {

                        }

                            .page__block-routes .page__block-routes-filter-district .styled-select-title {

                            }

                    .page__block-routes .page__block-content-item-content-item-content {

                    }

                        .page__block-routes .collapsable-content-item {

                        }

                            .page__block-routes .collapsable-content-item-header {

                            }

                                .page__block-routes .collapsable-icon {
                                    width: calc(54 / 1920 * 100vw);
                                }

                    .collapsable-content-item-buttons {

                    }

                        .collapsable-content-item-buttons .collapsable-content-item-button-vote {
                            padding: calc(14 / 1920 * 100vw) calc(30 / 1920 * 100vw);
                        }
}

@media (max-width: 576px) {

    .page__block-routes {

    }

        .page__block-routes .page__block-wrapper {
            background-image: none;
        }

            .page__block-routes .page__block-wrapper .inner-wrapper {
                background-image: url("../img/svg/route-bg-mobile.svg");
                background-position: left top;
                background-repeat: no-repeat;
                background-size: calc(498 / 576 * 100vw) auto;
                padding-top: calc(42 / 576 * 100vw);
            }

                .page__block-routes .page__block-content-item-title {
                    margin-bottom: calc(28 / 576 * 100vw);
                }

                    .page__block-routes .page__block-content-item-header {
                        color: #000;
                    }

                .page__block-routes .page__block-content-item-description {
                    color: #000;
                }

                .page__block-routes .page__block-content-item-content {

                }

                    .page__block-routes .page__block-content-item-content-item {

                    }

                    .page__block-routes .page__block-content-item-content-item-header-container {
                        align-items: flex-start;
                        margin-bottom: calc(68 / 576 * 100vw);
                    }

                        .page__block-routes .page__block-content-item-content .page__block-content-item-content-item .page__block-content-item-content-item-header-container .page__block-content-item-content-item-header {
                            font-size: calc(40 / 576 * 100vw);
                            line-height: calc(58 / 576 * 100vw);
                            order: 3;
                        }

                        .page__block-routes .page__block-content-item-content-item-name {
                            font-size: calc(19 / 576 * 100vw);
                            height: calc(38 / 576 * 100vw);
                            line-height: calc(23 / 576 * 100vw);
                            margin-bottom: calc(24 / 576 * 100vw);
                            margin-right: 0;
                            padding: calc(8 / 576 * 100vw) calc(14 / 576 * 100vw) calc(7 / 576 * 100vw);
                            width: calc(362 / 576 * 100vw);
                        }

                        .page__block-routes .page__block-routes-filter-district {
                            font-size: calc(19 / 576 * 100vw);
                            line-height: calc(23 / 576 * 100vw);
                            margin-bottom: calc(32 / 576 * 100vw);
                            width: calc(362 / 576 * 100vw);
                        }

                            .page__block-routes .page__block-routes-filter-district .styled-select-title {
                                padding: calc(8 / 576 * 100vw) calc(49 / 576 * 100vw) calc(7 / 576 * 100vw) calc(14 / 576 * 100vw);
                            }

                    .page__block-routes .page__block-content-item-content-item-content {

                    }

                        .page__block-routes .collapsable-content-item {

                        }

                            .page__block-routes .collapsable-content-item-header {

                            }

                                .page__block-routes .collapsable-icon {
                                    width: calc(28 / 576 * 100vw);
                                }

                    .collapsable-content-item-buttons {

                    }

                        .collapsable-content-item-buttons .collapsable-content-item-button-vote {
                            margin-top: calc(32 / 576 * 100vw);
                            padding: calc(8 / 576 * 100vw) calc(26 / 576 * 100vw);
                        }
}
/** ROUTES END **/

/** JURY START **/
.page__block-jury {
    background: #A8E0D8;
}

    .page__block-jury .page__block-wrapper {
        background-image: url("../img/svg/jury-bg-top.svg");
        background-position: 120px top;
        background-repeat: no-repeat;
        background-size: 956px auto;
    }

        .page__block-jury .page__block-wrapper .inner-wrapper {
            background-image: url("../img/svg/jury-bg-bottom.svg");
            background-position: left 172px;
            background-repeat: no-repeat;
            background-size: 1778px 941px;
            padding-bottom: 216px;
            padding-top: 66px;
            padding-left: 75px;
        }

            .page__block-jury .page__block-wrapper .inner-wrapper .page__block-jury-header {
                color: #000;
                text-align: right;
            }

            .page__block-jury-content {
                display: grid;
                grid-column-gap: 13px;
                grid-row-gap: 88px;
                grid-template-columns: repeat(4, 1fr);
            }

                .page__block-jury-content-item {
                    align-items: flex-start;
                    color: #000;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-left: 152px;
                    position: relative;
                    width: 387px;
                }

                    .page__block-jury-content-item-img-container {
                        border: solid 5px #fff;
                        border-radius: 50%;
                        left: 0;
                        height: 120px;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        width: 120px;
                    }

                        .page__block-jury-content-item-img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }

                    .page__block-jury-content-item-info-name {
                        font-weight: bold;
                        font-size: 23px;
                        line-height: 28px;
                        margin-bottom: 20px;
                        padding: 21px 0;
                        position: relative;
                    }

                        .page__block-jury-content-item-info-name:after {
                            background-color: #FA3B2E;
                            bottom: 0;
                            content: '';
                            height: 8px;
                            left: 0;
                            position: absolute;
                            width: 130px;
                        }

                    .page__block-jury-content-item-info-title {
                        flex-grow: 1;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
                        margin-bottom: 26px;
                    }

                    .page__block-jury-content-item-info-img-container {

                    }

                        .page__block-jury-content-item-info-img {
                            height: auto;
                            max-height: 110px;
                            max-width: 100%;
                            object-fit: contain;
                            width: auto;
                        }

@media (max-width: 1920px) {
    .page__block-jury {

    }

        .page__block-jury .page__block-wrapper {
            background-position: calc(120 / 1920 * 100vw) top;
            background-size: calc(956 / 1920 * 100vw) auto;
        }

            .page__block-jury .page__block-wrapper .inner-wrapper {
                background-position-y: calc(172 / 1920 * 100vw);
                background-size: calc(1778 / 1920 * 100vw) calc(941 / 1920 * 100vw);
                padding-bottom: calc(216 / 1920 * 100vw);
                padding-left: calc(75 / 1920 * 100vw);
                padding-top: calc(66 / 1920 * 100vw);
            }

                .page__block-jury .page__block-wrapper .inner-wrapper .page__block-jury-header {

                }

                .page__block-jury-content {
                    grid-column-gap: calc(13 / 1920 * 100vw);
                    grid-row-gap: calc(88 / 1920 * 100vw);
                }

                    .page__block-jury-content-item {
                        padding-left: calc(142 / 1920 * 100vw);
                        width: calc(387 / 1920 * 100vw);
                    }

                        .page__block-jury-content-item-img-container {
                            border-width: calc(5 / 1920 * 100vw);
                            height: calc(120 / 1920 * 100vw);
                            width: calc(120 / 1920 * 100vw);
                        }

                            .page__block-jury-content-item-img {

                            }

                        .page__block-jury-content-item-info-name {
                            font-size: calc(23 / 1920 * 100vw);
                            line-height: calc(28 / 1920 * 100vw);
                            margin-bottom: calc(20 / 1920 * 100vw);
                            padding: calc(21 / 1920 * 100vw) 0;
                        }

                            .page__block-jury-content-item-info-name:after {
                                height: calc(8 / 1920 * 100vw);
                                width: calc(130 / 1920 * 100vw);
                            }

                        .page__block-jury-content-item-info-title {
                            font-size: calc(15 / 1920 * 100vw);
                            line-height: calc(18 / 1920 * 100vw);
                            margin-bottom: calc(26 / 1920 * 100vw);
                        }

                        .page__block-jury-content-item-info-img-container {

                        }

                            .page__block-jury-content-item-info-img {
                                max-height: calc(110 / 1920 * 100vw);
                            }
}

@media (max-width: 576px) {
    .page__block-jury {

    }

        .page__block-jury .page__block-wrapper {
            background-image: none;
        }

            .page__block-jury .page__block-wrapper .inner-wrapper {
                background: none;
                padding-left: calc(86 / 576 * 100vw);
                padding-top: calc(122 / 576 * 100vw);
            }

                .page__block-jury .page__block-wrapper .inner-wrapper .page__block-jury-header {
                    font-size: calc(40 / 576 * 100vw);
                    line-height: calc(48 / 576 * 100vw);
                }

                .page__block-jury-content {
                    grid-template-columns: 1fr;
                    grid-row-gap: calc(42 / 576 * 100vw);
                }

                    .page__block-jury-content-item {
                        padding-left: calc(174 / 576 * 100vw);
                        width: calc(435 / 576 * 100vw);
                    }

                        .page__block-jury-content-item-img-container {
                            border-width: calc(5 / 576 * 100vw);
                            height: calc(140 / 576 * 100vw);
                            margin-right: calc(24 / 576 * 100vw);
                            width: calc(140 / 576 * 100vw);
                        }

                            .page__block-jury-content-item-img {

                            }

                        .page__block-jury-content-item-info-name {
                            font-size: calc(27 / 576 * 100vw);
                            line-height: calc(33 / 576 * 100vw);
                            margin-bottom: calc(24 / 576 * 100vw);
                            padding-bottom: calc(24 / 576 * 100vw)
                        }

                            .page__block-jury-content-item-info-name:after {
                                height: calc(6 / 576 * 100vw);
                                width: calc(150 / 576 * 100vw);
                            }

                        .page__block-jury-content-item-info-title {
                            font-size: calc(17 / 576 * 100vw);
                            line-height: calc(21 / 576 * 100vw);
                            margin-bottom: calc(24 / 576 * 100vw);
                        }

                        .page__block-jury-content-item-info-img-container {

                        }

                            .page__block-jury-content-item-info-img {
                                max-height: none;
                            }

}
/** JURY END **/

/** CONTACTS START **/
.page__block-contacts {
    background: #FA5146;
}

    .page__block-contacts .page__block-wrapper {

    }

            .page__block-contacts .inner-wrapper {
                padding: 222px 690px 234px 141px;
            }

                .page__block-contacts-content {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                    .page__block-contacts-content-img-container {
                        margin-right: 143px;
                    }

                        .page__block-contacts-content-img {
                            height: auto;
                            width: 267px;
                        }

                    .page__block-contacts-content-copyright {
                        color: #FFFFFF;
                        font-weight: 500;
                        font-size: 23px;
                        line-height: 28px;
                        width: 565px;
                    }

@media (max-width: 1920px) {
    .page__block-contacts {

    }

        .page__block-contacts .page__block-wrapper {

        }

            .page__block-contacts .inner-wrapper {
                padding: calc(222 / 1920 * 100vw) calc(690 / 1920 * 100vw) calc(234 / 1920 * 100vw) calc(141 / 1920 * 100vw);
            }

                .page__block-contacts-content {

                }

                    .page__block-contacts-content-img-container {
                        margin-right: calc(143 / 1920 * 100vw);
                    }

                        .page__block-contacts-content-img {
                            width: calc(267 / 1920 * 100vw);
                        }

                    .page__block-contacts-content-copyright {
                        font-size: calc(23 / 1920 * 100vw);
                        line-height: calc(28 / 1920 * 100vw);
                        width: calc(565 / 1920 * 100vw);
                    }

}

@media (max-width: 576px) {
    .page__block-contacts {

    }

        .page__block-contacts .page__block-wrapper {

        }

            .page__block-contacts .inner-wrapper {
                padding: calc(41 / 576 * 100vw) calc(86 / 576 * 100vw) calc(100 / 576 * 100vw) calc(86 / 576 * 100vw);
            }

                .page__block-contacts-content {
                    align-items: flex-start;
                    flex-direction: column;
                }

                    .page__block-contacts-content-img-container {
                        align-self: center;
                        margin-right: 0;
                        margin-bottom: calc(43 / 576 * 100vw);
                        order: 1;
                    }

                        .page__block-contacts-content-img {
                            height: auto;
                            margin: 0 auto;
                            width: calc(404 / 576 * 100vw);
                        }

                    .page__block-contacts-content-copyright {
                        font-weight: 500;
                        font-size: calc(22 / 576 * 100vw);
                        line-height: calc(27 / 576 * 100vw);
                        margin-right: 0;
                        order: 3;
                        width: 100%;
                    }

                    .page__block-contacts-content-links {
                        font-weight: 500;
                        font-size: calc(15 / 576 * 100vw);
                        line-height: calc(18 / 576 * 100vw);
                        margin-bottom: calc(42 / 576 * 100vw);
                        order: 2;
                    }

                        .page__block-contacts-content-links-email {
                            border-bottom-width: calc(6 / 576 * 100vw);
                            padding-bottom: calc(6 / 576 * 100vw);
                        }

                        .page__block-contacts-content-links-external {
                            padding-top: calc(6 / 576 * 100vw);
                        }
}
/** CONTACTS END **/

/** SHARING START **/

.sharing {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    left: auto;
    padding: 23px 25px;
    position: absolute;
    right: 0;
    top: 1120px;
    z-index: 1100;
}

    .sharing.fixed {
        position: fixed;
        top: 100px;
    }

.sharing-item {
    margin-bottom: 20px;
}

.sharing-item:last-child {
    margin-bottom: 0;
}

.sharing-item-img {
    max-height: 30px;
    max-width: 30px;
}

@media (max-width: 1920px) {

    .sharing {
        padding: calc(23 / 1920 * 100vw) calc(23 / 1920 * 100vw);
        top: calc(728 / 1920 * 100vw);
    }

        .sharing.fixed {
            top: calc(100 / 1920 * 100vw);
        }

    .sharing-item {
        margin-bottom: calc(20 / 1920 * 100vw);
    }

    .sharing-item:last-child {

    }

    .sharing-item-img {
        max-height: calc(30 / 1920 * 100vw);
        max-width: calc(30 / 1920 * 100vw);
    }
}

@media (max-width: 576px) {

    .sharing {
        background-color: rgba(0, 0, 0, 0.2);
        bottom: 0;
        flex-direction: row;
        left: 50%;
        padding: calc(16 / 576 * 100vw) calc(27 / 576 * 100vw);
        position: fixed;
        right: auto;
        top: auto;
        transform: translateX(-50%);
    }

    .sharing-item {
        margin-bottom: 0;
        margin-right: calc(26 / 576 * 100vw);
    }

    .sharing-item:last-child {
        margin-right: 0;
    }

    .sharing-item-img {
        height: calc(21 / 576 * 100vw);
        max-height: none;
        max-width: none;
        object-fit: contain;
        width: calc(21 / 576 * 100vw);
    }
}
/** SHARING END **/

/** 404 START **/
.page__block-404 {

}

    .header-404 {
        background: #E5E5E5;
        padding-bottom: 100px;
        padding-top: 100px;
    }

        .back-link-404 {
            background-color: #FA3B2E;
            background-image: url("../img/svg/back-link-404-bg.svg");
            background-position-x: 30px;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 35px 24px;
            color: #fff;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            height: 70px;
            line-height: 42px;
            padding: 14px 30px 14px 92px;
            text-decoration: none;
        }

    .content-404 {
        background: #484C55;
        padding-top: 86px;
    }

        .img-404 {
            margin-bottom: 65px;
        }

            .img-404-img {
                height: 281px;
                width: 277px;
            }

        .title-404 {
            color: #FFFFFF;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 120px;
            line-height: 145px;
            margin-bottom: 14px;
        }

        .description-404 {
            color: #FA3B2E;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
        }

@media (max-width: 1920px) {
    .page__block-404 {

    }

        .header-404 {
            padding-bottom: calc(100 / 1920 * 100vw);
            padding-top: calc(100 / 1920 * 100vw);
        }

            .back-link-404 {
                background-position-x: calc(30 / 1920 * 100vw);
                background-size: calc(35 / 1920 * 100vw) calc(24 / 1920 * 100vw);
                font-size: calc(35 / 1920 * 100vw);
                height: calc(70 / 1920 * 100vw);
                line-height: calc(42 / 1920 * 100vw);
                padding: calc(14 / 1920 * 100vw) calc(30 / 1920 * 100vw) calc(14 / 1920 * 100vw) calc(92 / 1920 * 100vw);
            }

    .content-404 {
        padding-top: calc(86 / 1920 * 100vw);
    }

        .img-404 {
            margin-bottom: calc(65 / 1920 * 100vw);
        }

            .img-404-img {
                height: calc(281 / 1920 * 100vw);
                width: calc(277 / 1920 * 100vw);
            }

        .title-404 {
            font-size: calc(120 / 1920 * 100vw);
            line-height: calc(145 / 1920 * 100vw);
            margin-bottom: calc(14 / 1920 * 100vw);
        }

        .description-404 {
            font-size: calc(35 / 1920 * 100vw);
            line-height: calc(42 / 1920 * 100vw);
        }
}

@media (max-width: 576px) {
    .page__block-404 {

    }

        .header-404 {
            background: #fff;
            padding-bottom: calc(55 / 576 * 100vw);
            padding-top: calc(55 / 576 * 100vw);
        }

            .back-link-404 {
                background-position-x: calc(16 / 576 * 100vw);
                background-size: calc(12 / 576 * 100vw) calc(18 / 576 * 100vw);
                font-size: calc(19 / 576 * 100vw);
                height: calc(38 / 576 * 100vw);
                line-height: calc(23 / 576 * 100vw);
                padding: calc(8 / 576 * 100vw) calc(16 / 576 * 100vw) calc(8 / 576 * 100vw) calc(50 / 576 * 100vw);
            }

    .content-404 {
        padding-top: calc(86 / 576 * 100vw);
    }

        .img-404 {
            margin-bottom: calc(55 / 576 * 100vw);
        }

            .img-404-img {
                height: calc(148 / 576 * 100vw);
                width: calc(146 / 576 * 100vw);
            }

        .title-404 {
            font-size: calc(48 / 576 * 100vw);
            line-height: calc(48 / 576 * 100vw);
            margin-bottom: calc(32 / 576 * 100vw);
        }

        .description-404 {
            font-size: calc(27 / 576 * 100vw);
            line-height: calc(33 / 576 * 100vw);
        }
}
/** 404 END **/
