html {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/** PAGES START **/

.mainpage {
    --aside-height: 100%;
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
    position: relative;
}

    .mainpage__page {
        position: relative;
    }

.mainpage__wrapper {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

    .mainpage__page .aside {
        height: 100%;
        left: 0;
        max-width: 120px;
        position: absolute;
        top: 0;
        width: 120px;
        z-index: 10;
    }

        .aside .page-block__nav-trigger {
            visibility: hidden;
        }

        .aside.red {
            background: #FA5146;
        }

        .aside.dark-grey {
            background: #333;
        }

        .aside.blue {
            background: #008EFA;
        }

        @media (max-width: 800px) {
            body:not(.nav-close) {
                overflow: hidden;
            }

            .mainpage {
                --aside-height: 50px;
            }

            .mainpage__page .aside {
                display: none;
                height: var(--aside-height);
                left: 0;
                max-width: none;
                position: absolute;
                text-align: center;
                top: 0;
                width: 100%;
                z-index: 10;
            }

                .aside .page-block__nav-trigger {
                    visibility: visible;
                }

            .mainpage__page .mainpage__header-nav-trigger {
                display: none;
            }

                .mainpage__page .aside .page-block__nav-trigger {
                    background: transparent;
                    border: 0;
                    line-height: var(--aside-height);
                    position: static;
                }

                    .mainpage__page .aside .page-block__nav-trigger img {
                        height: 30px;
                    }

                    .mainpage:not(.nav-close) .mainpage__page .aside .page-block__nav-trigger.open {
                        display: none;
                    }

                    .mainpage:not(.nav-close) .mainpage__page .aside .page-block__nav-trigger.close {
                        display: inline-block;
                    }

                    .nav-close .mainpage__page .aside .page-block__nav-trigger.open {
                        display: inline-block;
                    }

                    .nav-close .mainpage__page .aside .page-block__nav-trigger.close {
                        display: none;
                    }
        }

    .inner-wrapper {
        padding: 90px 100px 110px 260px;
    }

    .inner-wrapper.no-padding-right {
        padding-right: 0;
    }

    .inner-wrapper.no-padding-top {
        padding-top: 0;
    }

    .inner-wrapper.no-padding-left {
        padding-left: 0;
    }

    .inner-wrapper.no-padding-bottom {
        padding-bottom: 0;
    }


        .inner-wrapper h2 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 67px;
            margin-bottom: 50px;
        }

        @media (max-width: 800px) {
            .inner-wrapper h2 {
                font-size: calc(100vw / 15);
            }
        }

    .sharing {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        left: auto;
        padding: 23px 25px;
        position: absolute;
        right: 0;
        top: 1120px;
        z-index: 1100;
    }

        .sharing.fixed {
            position: fixed;
            top: 40px;
        }

        .sharing-item {
            margin-bottom: 20px;
        }

            .sharing-item:last-child {
                margin-bottom: 0;
            }

            .sharing-item-img {
                max-height: 30px;
                max-width: 30px;
            }

@media (max-width: 1920px) {
    .sharing {
        padding: calc(23 / 1920 * 100vw) calc(25 / 1920 * 100vw);
        top: calc(1120 / 1920 * 100vw);
    }

        .sharing.fixed {
            position: fixed;
            top: calc(40 / 1920 * 100vw);
        }

        .sharing-item {
            margin-bottom: calc(20 / 1920 * 100vw);
        }

            .sharing-item-img {
                max-height: calc(30 / 1920 * 100vw);
                max-width:  calc(30 / 1920 * 100vw);
            }

    .inner-wrapper {
        padding: 4.687vw 5.208vw 5.729vw 13.541vw;
    }
}

@media (max-width: 1440px) {
    .aside {
        display: none;
    }

    .inner-wrapper {
        padding-left: calc(7.29vw + 5px);
        padding-right: calc(5.208vw + 5px);
    }
}

@media (max-width: 800px) {
    .inner-wrapper h2 {
        font-size: 7vw;
        margin-bottom: 2.6vw;
    }

    .sharing {
        background-color: rgba(127, 127, 127, 0.2);
        bottom: 0;
        flex-direction: row;
        left: 50%;
        padding: 3.125vw;
        position: fixed;
        right: auto;
        top: auto;
        transform: translateX(-50%);
    }

        .sharing-item {
            margin-bottom: 0;
            margin-right: 2.5vw;
        }

            .sharing-item:last-child {
                margin-right: 0;
            }

            .sharing-item-img {
                width: 6vw;
                height: 6vw;
                object-fit: contain;
            }
}
/** PAGES END **/

/** INTERNAL PAGE HEADER START */
.internal__header-content {
    overflow: hidden;
    position: relative;
}

    .internal__header-title {
        color: #fff;
        font-size: 80px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: calc(var(--nav-trigger-top) - 10px);
        transform: translateX(-50%);
    }

        .internal__header-title-link {
            color: #fff;
            text-decoration: none;
        }

    .internal__header-subtitle {
        align-items: center;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        left: 50%;
        line-height: 67px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        .internal__header-subtitle-text {
            margin-bottom: 30px;
        }

        .internal__header-subtitle-date {
            align-self: flex-start;
            font-size: 20px;
        }

        .internal__header-subtitle-link {
            color: #fff;
            background: #008EFA;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            padding: 16px 30px;
            text-decoration: none;
        }

    .internal__header-img {
        height: auto;
        object-fit: cover;
        width: 100%;
    }

@media (max-width: 1920px) {
    .internal__header-subtitle {
        font-size: calc(55 / 1920 * 100vw);
        line-height: calc(67 / 1920 * 100vw);
    }

        .internal__header-subtitle-text {
            margin-bottom: calc(30 / 1920 * 100vw);
        }

        .internal__header-subtitle-date {
            font-size: calc(20 / 1920 * 100vw);
        }

        .internal__header-subtitle-link {
            font-size: calc(35 / 1920 * 100vw);
            line-height: calc(42 / 1920 * 100vw);
            padding: calc(16 / 1920 * 100vw) calc(30 / 1920 * 100vw);
        }
}

@media (max-width: 800px) {
    .internal__header-title, .internal__header-subtitle {
        font-size: calc(40 / 800 * 100vw);
        left: 50%;
        line-height: calc(48 / 800 * 100vw);
        margin-bottom: calc(20 / 800 * 100vw);
        top: calc(50% + var(--aside-height) / 2);
        text-transform: uppercase;
        transform: translate(-50%, -50%);
    }

    .news__page .internal__header-title {
        display: none;
    }

    .internal__header-subtitle-text {
        width: 80vw;
    }

    .internal__header-subtitle-date {
        font-size: calc(19 / 800 * 100vw);
    }
}
/** INTERNAL PAGE HEADER END */

/** HEADER START **/
.mainpage__header {
    --nav-trigger-left: 190px;
    --nav-trigger-top: 67px;
    --header-right-banner-width: 368px;
}

.mainpage__header-nav-trigger {
    background: transparent;
    border: 0;
    cursor: pointer;
    left: var(--nav-trigger-left);
    position: absolute;
    top: var(--nav-trigger-top);
    z-index: 10;
}

.mainpage__header .nav {
    background: rgba(0, 0, 0, 0.7);
    left: 120px;
    width: 840px;
    padding-bottom: 170px;
    padding-top: 170px;
    position: absolute;
    top: 0;
    z-index: 2000;
}

.mainpage__header .nav .mainpage__header-nav-trigger {
    left: auto;
    right: 60px;
    top: 67px;
}

.nav-close .nav {
    display: none;
}

    .nav ul li {
        min-height: 60px;
    }

        .nav ul li a {
            display: block;
            color: #fff;
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 15px;
            padding-left: 70px;
            text-decoration: none;
        }

        @media (max-width: 800px) {
            .nav ul li a {
                font-size: calc(100vw / 15);
            }
        }

.mainpage__header .mainpage__slider .guide-day {
    background-image: url("../img/background-guide-day.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    --guide-day__date-font-size: 22px;
    --guide-day__date-line-height: calc(var(--guide-day__date-font-size) + 4px);
    --guide-day__date-left: calc(50% + 170px);
    --guide-day__date-top: calc(50% - 2 * var(--guide-day__date-font-size));
    --promo-padding-top: 190px;
    --guide-day__sponsors-max-width: var(--header-right-banner-width);
    --guide-day__sponsors-padding: 45px;
    position: relative;
}

.mainpage__header .mainpage__slider .slide>a {
    display: block;
    width: 100%;
    height: 100%;
}

.guide-day__image-wrapper {
    left: 610px;
    height: 700px;
    position: absolute;
    top: 190px;
    width: 700px;
}

    .guide-day__image {
        height: 100%;
        width: 100%;
    }

    .guide-day__date {
        color: #fff;
        left: 523px;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        position: absolute;
        text-align: left;
        top: 320px;
    }

.mainpage__header .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.mainpage__header .slick-dots {
    bottom: 60px;
    left: 1552px;
    position: absolute;
    width: auto;
}

    .mainpage__header .slick-dots li {
        height: 20px;
        margin-right: 20px;
        width: 20px;
    }

        .mainpage__header .slick-dots li button {
            background: #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }

        .mainpage__header .slick-dots li button:before {
            background-color: #fff;
            border-radius: 50%;
            color: #fff;
            /*content: '⬤';*/
            content: '';
            height: 20px;
            opacity: 0.75;
            width: 20px;
        }

            .mainpage__header .slick-dots li.slick-active button:before {
                opacity: 1;
            }

.guide-day__sponsors {
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-gap: 58px;
    grid-template-columns: 1fr;
    padding: 56px 90px 52px 48px;
    position: absolute;
    right: 0;
    top: 190px;
    width: 368px;
}

    .guide-day__sponsors-link {
        display: block;
    }

        .guide-day__sponsors-link:last-child {
            margin-bottom: 0;
        }

        .guide-day__sponsors-img {
            width: 100%;
        }

.guide-day__image {
    max-width: 700px;
}

.slick-slide img.guide-day__image {
    display: inline;
}

@media (max-width: 1920px) {
    .mainpage__header .mainpage__slider .guide-day {
        height: calc(1080 / 1920 * 100vw);
    }

        .guide-day__sponsors {
            grid-gap: calc(58 / 1920 * 100vw);
            padding: calc(56 / 1920 * 100vw) calc(90 / 1920 * 100vw) calc(52 / 1920 * 100vw) calc(48 / 1920 * 100vw);
            top: calc(190 / 1920 * 100vw);
            width: calc(368 / 1920 * 100vw);
        }

        .guide-day__image-wrapper {
            height: calc(700 / 1920 * 100vw);
            left: calc(610 / 1920 * 100vw);
            top: calc(190 / 1920 * 100vw);
            width: calc(700 / 1920 * 100vw);
        }

            .guide-day__image {
                height: 100%;
                width: 100%;
            }

            .guide-day__date {
                left: calc(523 / 1920 * 100vw);
                font-size: calc(22 / 1920 * 100vw);
                line-height: calc(26 / 1920 * 100vw);
                top: calc(320 / 1920 * 100vw);
            }

    .mainpage__header .slick-dots {
        bottom: calc(60 / 1920 * 100vw);
        left: calc(1552 / 1920 * 100vw);
    }

        .mainpage__header .slick-dots li {
            height: calc(20 / 1920 * 100vw);
            margin-right: calc(20 / 1920 * 100vw);
            width: calc(20 / 1920 * 100vw);
        }

            .mainpage__header .slick-dots li button {
                height: calc(20 / 1920 * 100vw);
                width: calc(20 / 1920 * 100vw);
            }

                .mainpage__header .slick-dots li button:before {
                    height: calc(20 / 1920 * 100vw);
                    width: calc(20 / 1920 * 100vw);
                }
}

@media (max-width: 1440px) {
    .mainpage__header {
        --nav-trigger-left: calc(70 / 1440 * 100vw);
    }

    .mainpage__header .nav {
        left: 0;
    }

    /*.mainpage__header .mainpage__slider .guide-day {*/
    /*    --guide-day__date-left: 50%;*/
    /*}*/

    /*.guide-day__image-wrapper {*/
    /*    padding-right: var(--guide-day__sponsors-max-width);*/
    /*}*/

    /*.guide-day__image {*/
    /*    width: calc(100vw - var(--guide-day__sponsors-max-width));*/
    /*}*/
}

/*@media (max-width: 1080px) {*/
/*    .mainpage__header .mainpage__slider .guide-day {*/
/*        --guide-day__date-left: calc((100vw - var(--guide-day__sponsors-max-width)) * 0.75);*/
/*    }*/
/*}*/

/*@media (max-width: 900px) {*/
/*    .mainpage__header .slick-dots {*/
/*        bottom: 20px;*/
/*    }*/
/*}*/

/*@media (max-width: 840px) {*/
/*    .mainpage__header .nav {*/
/*        width: 100%;*/
/*    }*/

/*    .mainpage__header .slick-dots {*/
/*        bottom: 10px;*/
/*    }*/
/*}*/

@media (max-width: 800px) {
    .mainpage__header .aside {
        display: block;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .mainpage__header .nav {
        background: #fff;
        height: 100%;
        left: 0;
        min-height: calc(100vh - var(--aside-height));
        margin-top: var(--aside-height);
        overflow: auto;
        padding-top: var(--aside-height);
        position: fixed;
        top: 0;
    }

        .nav ul li {
            min-height: calc(100vw / 10);
        }

            .nav ul li a {
                color: #000;
            }

    .mainpage__header .mainpage__slider .guide-day {
        /*height: calc(1024 / 576 * 100vw);*/
        height: calc(1422 / 800 * 100vw);
        --guide-day__date-left: calc(62vw + 25px);
        --guide-day__sponsors-max-width: 100%;
        --guide-day__sponsors-padding: calc(100vw / 20);
        --promo-padding-top: var(--aside-height);
    }

        .guide-day__image-wrapper {
            /*height: calc(424 / 576 * 100vw);*/
            /*left: calc(75 / 576 * 100vw);*/
            /*top: calc(343 / 576 * 100vw);*/
            /*width: calc(424 / 576 * 100vw);*/
            height: calc(589 / 800 * 100vw);
            left: calc(104 / 800 * 100vw);
            top: calc(476 / 800 * 100vw);
            width: calc(589 / 800 * 100vw);
        }

            .guide-day__image {

            }

            .guide-day__date {
                /*left: calc(320 / 576 * 100vw);*/
                /*font-size: calc(18 / 576 * 100vw);*/
                /*line-height: calc(22 / 576 * 100vw);*/
                /*top: calc(180 / 576 * 100vw);*/
                left: calc(444 / 800 * 100vw);
                font-size: calc(25 / 800 * 100vw);
                line-height: calc(31 / 800 * 100vw);
                top: calc(250 / 800 * 100vw);
            }

        .mainpage__header .slick-dots {
            /*bottom: calc(80 / 576 * 100vw);*/
            bottom: calc(111 / 800 * 100vw);
            display: block;
            left: 50%;
            transform: translateX(-50%);
        }

            .mainpage__header .slick-dots li {
                height: calc(20 / 800 * 100vw);
                margin-right: calc(20 / 800 * 100vw);
                width: calc(20 / 800 * 100vw);
            }

                .mainpage__header .slick-dots li button {
                    height: calc(20 / 800 * 100vw);
                    width: calc(20 / 800 * 100vw);
                }

                    .mainpage__header .slick-dots li button:before {
                        display: none;
                    }

        .guide-day__sponsors {
            align-items: center;
            /*grid-gap: calc(49 / 576 * 100vw);*/
            grid-gap: calc(68 / 800 * 100vw);
            grid-template-columns: repeat(3, 1fr);
            /*padding: calc(45 / 576 * 100vw) calc(48 / 576 * 100vw) calc(38 / 576 * 100vw) calc(48 / 576 * 100vw);*/
            padding: calc(63 / 800 * 100vw) calc(67 / 800 * 100vw) calc(53 / 800 * 100vw) calc(67 / 800 * 100vw);
            top: 50px;
            width: 100%;
        }
}
/** HEADER END **/

/** COMPETITIONS START **/

    .mainpage-competitions__gallery {
        display: grid;
        grid-column-gap: 42px;
        grid-template-columns: repeat(4, 1fr);
    }

        .mainpage-competitions__gallery-item {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            text-decoration: none;
        }

            .mainpage-competitions__gallery-item:last-child {
                margin-right: 0;
            }

            .mainpage-competitions__gallery-item-img {
                margin-bottom: 20px;
                max-width: 350px;
                width: 100%;
            }

            .mainpage-competitions__gallery-item-title {
                color: #000;
                flex-grow: 1;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                margin-bottom: 10px;
                text-decoration: none;
            }

            .mainpage-competitions__gallery-item-arrow {
                height: auto;
                width: 50%;
            }

@media (max-width: 1920px) {
    .mainpage-competitions__gallery {
        grid-column-gap: 2.19vw;
    }

        .mainpage-competitions__gallery-item-title {
            font-size: 1.823vw;
        }
}

@media (max-width: 800px) {
    .mainpage-competitions__gallery {
        grid-row-gap: 6vw;
        grid-template-columns: repeat(2, 1fr);
    }

    .mainpage-competitions__gallery-item {
        /*flex-basis: 40vw;*/
    }

    .mainpage-competitions__gallery-item-title {
        font-size: calc(100vw / 20);
    }
}
/** COMPETITIONS END **/

/** POPULAR START **/
.mainpage-popular {
    background-color: #FA5146;
    color: #fff;
}

    .mainpage-popular__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

        .mainpage-popular .slick-slider .slick-track, .mainpage-popular .slick-slider .slick-list {
            display: flex;
        }

        .mainpage-popular__gallery-arrows {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 45px;
            /*margin-left: -54px;*/
        }

            .mainpage-popular__gallery-prev-button, .mainpage-popular__gallery-next-button {
                align-items: center;
                background: transparent;
                /*background-repeat: no-repeat;*/
                /*background-size: auto;*/
                border: 0;
                color: #fff;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 42px;
                margin: 0;
                padding: 0;
                position: relative;
            }

                .mainpage-popular__gallery-prev-button img, .mainpage-popular__gallery-next-button img {
                    height: 1em;
                    position: absolute;
                    width: auto;
                }

                .mainpage-popular__gallery-prev-button img {
                    left: -3px;
                    top: 50%;
                    transform: translate(-100%, -50%);
                }

                .mainpage-popular__gallery-next-button img {
                    right: -3px;
                    top: 50%;
                    transform: translate(100%, -50%);
                }

            .mainpage-popular__gallery-prev-button {
                /*background-image: url('../img/svg/popular/gallery-prev-arrow.svg');*/
                /*background-position: left center;*/
                /*margin-left: -66px;*/
                /*padding-left: 66px;*/
            }

            .mainpage-popular__gallery-next-button {
                /*background-image: url('../img/svg/popular/gallery-next-arrow.svg');*/
                /*background-position: right center;*/
                /*padding-right: 66px;*/
            }

            @media (max-width: 800px) {
                .mainpage-popular__gallery-prev-button, .mainpage-popular__gallery-next-button {
                    font-size: calc(100vw / 28);
                }
            }

        .mainpage-popular__gallery-item {
            align-items: flex-start;
            display: flex;
            flex-basis: 560px;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-right: 45px;
            margin-bottom: 45px;
            text-decoration: none;
        }

        .mainpage-popular .slick-initialized .slick-slide {
            display: flex;
            justify-content: space-between;
        }
            .mainpage-popular__gallery-item-img {
                height: auto;
                margin-bottom: 45px;
                object-fit: cover;
                width: 100%;
            }

            .mainpage-popular__gallery-item-title {
                color: #fff;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 42px;
                margin-bottom: 45px;
                text-decoration: none;
            }

            .mainpage-popular__gallery-item-text {
                align-self: flex-start;
                color: #fff;
                flex-grow: 1;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 1.2em;
                margin-bottom: 45px;
            }

            .mainpage_popular__gallery-item-link-container {
                align-items: center;
                display: flex;
                flex-direction: row;
                font-size: 23px;
                justify-content: flex-start;
            }

                .mainpage_popular__gallery-item-link-text {
                    color: #fff;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 28px;
                    margin-right: 45px;
                }

                .mainpage_popular__gallery-item-link-image {
                    height: 1.2em;
                    width: auto;
                }

@media (max-width: 1920px) {
    .mainpage-popular__gallery-arrows {
        margin-bottom: 2.344vw;
    }

        .mainpage-popular__gallery-prev-button, .mainpage-popular__gallery-next-button {
            /*font-size: 5vw;*/
        }

            .mainpage-popular__gallery-prev-button img, .mainpage-popular__gallery-next-button img {
                /*height: 1.167vw;*/
                height: .8em;
                width: auto;
            }

            .mainpage-popular__gallery-prev-button img {
                margin-right: 0.521vw;
            }

            .mainpage-popular__gallery-next-button img {
                margin-left: 0.521vw;
            }

    .mainpage-popular__gallery-item {
        margin-right: 2.344vw;
        margin-bottom: 2.344vw;
    }

        .mainpage-popular__gallery-item-img {
            margin-bottom: 2.344vw;
        }
}

@media (max-width: 1440px) {
    .mainpage-popular__gallery-item-title {
        font-size: 2vw;
        margin-bottom: 3vw;
    }

    .mainpage-popular__gallery-item-text {
        font-size: 1.7vw;
        margin-bottom: 3vw;
    }

    .mainpage_popular__gallery-item-link-text {
        font-size: 1.7vw;
        margin-right: 3vw;
    }
}

@media (max-width: 1024px) {
    .mainpage-popular__gallery-item-title {
        font-size: 3vw;
    }

    .mainpage-popular__gallery-item-text {
        font-size: 2.2vw;
    }

    .mainpage_popular__gallery-item-link-text {
        font-size: 2.2vw;
    }
}

@media (max-width: 800px) {
    .mainpage-popular__gallery-prev-button, .mainpage-popular__gallery-next-button {
        font-size: 5vw;
    }

    .mainpage-popular__gallery-item-title {
        font-size: 3vw;
    }

    .mainpage-popular__gallery-item-text {
        font-size: 2.2vw;
    }

    .mainpage_popular__gallery-item-link-text {
        font-size: 2.4vw;
    }
}

@media (max-width: 605px) {
    .mainpage-popular__gallery-item-title {
        font-size: calc(10.5px + 1.736vw);
    }

    .mainpage-popular__gallery-item-text {
        font-size: calc(8px + 1.322vw);
    }

    .mainpage_popular__gallery-item-link-text {
        font-size: calc(9px + 1.488vw);
    }
}
/** POPULAR END **/

/** MISC START **/

.mainpage__misc-wrapper {
    background-color: #c4c4c4;
}

    .mainpage-misc__gallery {
        display: grid;
        grid-column-gap: 42px;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 42px;
    }

        .mainpage-misc__gallery-item {
            display: flex;
            flex-direction: column;
            position: relative;
        }

            .mainpage-misc__gallery-item-img {
                flex-grow: 1;
                height: auto;
                object-fit: cover;
                width: 100%;
            }

            .mainpage-misc__gallery-item-title {
                text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2);
                color: #fff;
                position: absolute;
                bottom: 2vw;
                font-family: Inter;
                font-size: 2vw;
                font-style: normal;
                font-weight: bold;
                left: 2vw;
                right: 2vw;
            }

    @media (max-width: 800px) {
        .mainpage-misc__gallery {
            grid-template-columns: 1fr;
        }

                .mainpage-misc__gallery-item-title {
                    font-size: 5vw;
                }
    }

/** MISC END **/

/** CONTACTS START **/

.mainpage__contacts-wrapper {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 120px;
}

    .mainpage__contacts-wrapper .inner-wrapper {
        padding-left: 140px;
    }

        .mainpage__contacts-wrapper .inner-wrapper .mainpage__contacts-title {
            font-size: 2.5vw;
            margin-bottom: 13px;
        }

        .mainpage__contacts-wrapper .inner-wrapper .mainpage__contacts-description {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 1.5vw;
            margin-bottom: 58px;
        }

        .mainpage__subscribe-form {
            display: grid;
            grid-column-gap: 1vw;
            grid-template-columns: 3fr 2fr;
        }

            .mainpage__subscribe-form-email-input {
                flex-grow: 1;
                margin-right: 1vw;
            }

            .mainpage__subscribe-form-submit-button-container {
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }

            .mainpage__subscribe-form-submit-button {
                background-color: #FA3B2E;
                margin-right: 1.56vw;
            }

            .mainpage__subscribe-form-submit-button-arrow-img {
                height: auto;
                width: 3.33vw;
            }

            .mainpage__subscribe-form-submit-button-arrow-img-mobile {
                display: none;
            }

        .mainpage__contacts-input {
            border: 0;
            font-size: 1vw;
            height: 3.6vw;
            padding-left: 1.56vw;
            padding-right: 1.56vw;
        }

        .mainpage__contacts-button {
            color: #fff;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 1.5vw;
        }

    .mainpage__contacts-wrapper .mainpage__supscription-wrapper {
        background-color: #f7f7f7;
        padding-right: 64px;
    }

    .mainpage__contacts-wrapper .mainpage__feedback-wrapper {
        background-color: #ededed;
        padding-left: 90px;
    }

        .mainpage__feedback-button {
            background-color: #808080;
        }

    @media (max-width: 1440px) {
        .mainpage__contacts-wrapper {
            padding: 0;
        }

        .mainpage__contacts-wrapper .inner-wrapper {
            padding-left: 7.29vw;
        }
    }

    @media (max-width: 800px) {
        .mainpage__contacts-wrapper {
            grid-template-columns: 1fr;
            padding: 0;
        }

            .mainpage__contacts-wrapper .inner-wrapper .mainpage__contacts-title {
                font-size: 7vw;
                margin-bottom: 13px;
            }

            .mainpage__contacts-wrapper .inner-wrapper .mainpage__contacts-description {
                font-size: 4vw;
                margin-bottom: 58px;
            }

            .mainpage__subscribe-form {
                grid-template-columns: 1fr;
                grid-row-gap: 2vw;
                font-size: 3vw;
            }

                .mainpage__subscribe-form-submit-button-container {
                    justify-content: space-between;
                }

                    .mainpage__subscribe-form-email-input {
                        font-size: 3vw;
                    }

                    .mainpage__subscribe-form-submit-button {
                        /*font-size: ;*/
                    }

                    .mainpage__subscribe-form-submit-button-arrow-img {
                        display: none;
                    }

                    .mainpage__subscribe-form-submit-button-arrow-img-mobile {
                        display: block;
                        height: 3em;
                        width: auto;
                    }

                .mainpage__contacts-input {
                    font-size: 4vw;
                    height: auto;
                    padding: 2vw 3vw;
                }

                .mainpage__contacts-button {
                    font-size: 4vw;
                    padding: 2vw 15vw;
                }

            .mainpage__contacts-wrapper .mainpage__supscription-wrapper {
                padding-right: 8vw;
            }

            .mainpage__contacts-wrapper .mainpage__feedback-wrapper {
                /*padding-left: 90px;*/
            }
    }

/** CONTACTS END **/

/** FOOTER START **/

.mainpage__footer {
    background-color: #FA5146;
}

    .mainpage__page-footer-wrapper {
    }

        .footer-content {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-column-gap: 7.55vw;
            grid-row-gap: 7.55vw;
            height: 540px;
            padding-top: 225px;
            padding-bottom: 215px;
        }

            .footer-logo {
                height: 100px;
                width: auto;
            }

            .footer-text {
                color: #FFFFFF;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                height: 100px;
                line-height: 1.3em;
                max-width: 650px;
            }

@media (max-width: 800px) {
    .footer-content {
        grid-template-columns: 1fr;
        grid-row-gap: 90px;
        height: auto;
        padding-top: 143px;
        padding-bottom: 100px;
    }

    .footer-logo {
        height: auto;
        width: 100%;
    }

    .footer-text {
        font-size: 20px;
        line-height: 1.2em;
        height: auto;
        width: auto;
    }
}

/** FOOTER END **/

/** OVERLAY START **/
.mainpage .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

    .mainpage.show-overlay {
        overflow: hidden;
    }

    .mainpage.show-overlay .overlay {
        display: block;
    }

        .overlay__thank-you {
            background-color: #fff;
            display: none;
            font-size: 35px;
            left: 50vw;
            padding: 25px 50px 40px 50px;
            position: fixed;
            top: 50vh;
            transform: translate(-50%, -50%);
            z-index: 1010;
        }

            .mainpage.show-thank-you .overlay__thank-you {
                display: block;
            }

            .overlay__thank-you-block {
                text-align: center;
            }

            .overlay__thank-you-header {
                font-size: 55px;
            }

            .overlay__thank-you-description {
                margin-bottom: 26px;
            }

                .overlay__thank-you-close-button {
                    background-color: #b3b3b3;
                    border: 0;
                    color: #fff;
                    padding: 12px 50px 17px 50px;
                }

        .overlay__feedback {
            background-color: #fff;
            display: none;
            font-size: 18px;
            left: 50vw;
            max-height: 100vh;
            max-width: 630px;
            min-width: 500px;
            overflow: auto;
            padding: 60px 64px 70px 64px;
            position: fixed;
            top: 50vh;
            transform: translate(-50%, -50%);
            z-index: 1010;
        }

            .mainpage.show-feedback .overlay__feedback {
                display: block;
            }

            .overlay__feedback-block {
                margin-bottom: 30px;
            }

            .overlay__feedback-header {
                font-size: 35px;
                position: relative;
            }

            .overlay__feedback-description {
                font-weight: bold;
                margin-bottom: 40px;
            }

                .overlay__feedback-close-button {
                    cursor: pointer;
                    height: 55px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 55px;
                }

                .overlay__feedback-input {
                    background-color: #f2f2f2;
                    border: none;
                    color: #808080;
                    font-family: Inter;
                    font-style: normal;
                    padding: 14px 18px;
                    width: 100%;
                }

                .overlay__feedback-comment-input {
                    height: 350px;
                }

                .overlay__feedback-comment-error-message-container {
                    color: #FA3B2E;
                }

                .overlay__feedback-comment-personal-data-message-container {
                    color: #000;
                    font-weight: bold;
                    overflow-wrap: anywhere;
                }

            .overlay__feedback-comment-submit-button-container {
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

                .overlay__feedback-comment-submit-button {
                    background-color: #FA3B2E;
                    border: none;
                    color: #fff;
                    font-size: 35px;
                    padding: 12px 30px 16px 30px;
                }

                .overlay__feedback-comment-submit-arrow-container {
                    height: 68px;
                    overflow: hidden;
                    position: relative;
                    width: calc(100% - 263px);
                }

                    .overlay__feedback-comment-submit-arrow {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

@media (max-width: 800px) {
    .mainpage .overlay {
        background-color: #ededed;
    }

        .overlay__feedback {
            background-color: #ededed;
            min-width: auto;
            padding: 10.34vw 11.03vw 12.07vw 11.03vw; /* (60px / 580px)vw (64px / 580px)vw (70px / 580px)vw (64px / 580px)vw */
            width: 100%;
        }

            .overlay__feedback-header {
                font-weight: bold;
            }

            .overlay__feedback-description {
                font-weight: bold;
            }

            .overlay__feedback-input {
                background-color: #fff;
            }
}

@media (max-width: 580px) {
    .overlay__feedback {
        font-size: 3.1vw; /* (18px / 580px)vw */
        width: 100vw;
    }


    .overlay__feedback-block {
        margin-bottom: 5.17vw; /* (30px / 580px)vw */
    }

    .overlay__feedback-header {
        font-size: 6vw; /* (35px / 580px)vw */
    }

    .overlay__feedback-description {
        margin-bottom: 6.9vw; /* (40px / 580px)vw */
    }

    .overlay__feedback-close-button {
        height: 9.48vw;   /* (55px  / 580px)vw */
        top: -1.72vw;     /* (-10px / 580px)vw */
        right: -1.72vw;   /* (-10px / 580px)vw */
        width: 9.48vw;    /* (55px  / 580px)vw */
    }

    .overlay__feedback-input {
        padding: 2.41vw 3.1vw; /* (14px / 580px)vw (18px / 580px)vw */
    }

    .overlay__feedback-comment-input {
        height: 60vw; /* (350px / 580px)vw */
    }

    .overlay__feedback-comment-submit-button {
        font-size: 6vw; /* (35px / 580px)vw */
        padding: 2.07vw 5.17vw 2.76vw 5.17vw; /* (12px / 580px)vw (30px / 580px)vw (16px / 580px)vw (30px / 580px)vw */
    }

    .overlay__feedback-comment-submit-arrow-container {
        height: 11.7vw; /* (68px / 580px)vw */
        width: calc(100% - 45.34vw); /* calc(100% - (263px / 580px)vw) */
    }

    .overlay__feedback-comment-submit-arrow {
        height: 11.7vw; /* (68px / 580px)vw */
        width: auto;
    }

}
/** OVERLAY END **/

/** INTERNAL/ABOUT PAGE CONTENT START */
.internal__main {
    padding-bottom: 88px;
    padding-right: 140px;
    padding-top: 66px;
}

    .internal__main-content {
        display: grid;
        grid-column-gap: 70px;
        grid-row-gap: 70px;
        grid-template-columns: repeat(2, 1fr);
    }

        .internal__main-index-link-container {
            font-weight: bold;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 64px;
        }

            .internal__main-index-link {
                background-image: url("../img/svg/index-page-link-bg.svg");
                background-position: left center;
                background-repeat: no-repeat;
                background-size: 58px 35px;
                color: #000;
                padding-left: 83px;
                text-decoration: none;
            }

        .internal__main-content-text-container {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            line-height: 28px;
        }

            .internal__main-content-text-container .internal__main-header {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 80px;
                line-height: 94px;
                margin-bottom: 38px;
            }

            .internal__main-content-text-container p {
                margin-bottom: 38px;
            }

        .internal__main-content-img-container {

        }

            .internal__main-content-img {
                height: auto;
                margin-bottom: 70px;
                max-width: 760px;
                width: 100%;
            }

                .internal__main-content-img:last-child {
                    margin-bottom: auto;
                }

@media (max-width: 1920px) {
    .internal__main {
        padding-bottom: calc(88 / 1920 * 100vw);
        padding-right: calc(140 / 1920 * 100vw);
        padding-top: calc(66 / 1920 * 100vw);
    }

        .internal__main-content {
            grid-column-gap: calc(70 / 1920 * 100vw);
            grid-row-gap: calc(70 / 1920 * 100vw);
        }

            .internal__main-index-link-container {
                font-size: calc(36 / 1920 * 100vw);
                line-height: calc(43 / 1920 * 100vw);
                margin-bottom: calc(64 / 1920 * 100vw);
            }

                .internal__main-index-link {
                    background-size: calc(58 / 1920 * 100vw) calc(35 / 1920 * 100vw);
                    padding-left: calc(83 / 1920 * 100vw);
                }

            .internal__main-content-text-container {
                font-size: calc(10px + 13 / 1920 * 100vw);
                line-height: calc(12px + 12 / 1920 * 100vw);
            }

                .internal__main-content-text-container .internal__main-header {
                    font-size: calc(80 / 1920 * 100vw);
                    line-height: calc(94 / 1920 * 100vw);
                    margin-bottom: calc(38 / 1920 * 100vw);
                }

                .internal__main-content-text-container p {
                    margin-bottom: calc(38 / 1920 * 100vw);
                }

            .internal__main-content-img-container {

            }

                .internal__main-content-img {
                    margin-bottom: calc(70 / 1920 * 100vw);
                    max-width: calc(760 / 1920 * 100vw);
                }
}
@media (max-width: 800px) {
    .internal__main {
        padding-bottom: calc(88 / 800 * 100vw);
        padding-left: calc(88 / 800 * 100vw);
        padding-right: calc(88 / 800 * 100vw);
        padding-top: calc(66 / 800 * 100vw);
    }

        .internal__main-content {
            grid-column-gap: calc(70 / 800 * 100vw);
            grid-row-gap: calc(70 / 800 * 100vw);
            grid-template-columns: 1fr;
        }

            .internal__main-index-link-container {
                font-size: calc(19 / 576 * 100vw);
                line-height: calc(23 / 576 * 100vw);
                margin-bottom: calc(32 / 576 * 100vw);
            }

                .internal__main-index-link {
                    background-image: url("../img/svg/index-page-link-bg-mobile.svg");
                    background-size: calc(26 / 576 * 100vw) calc(10 / 576 * 100vw);
                    padding-left: calc(43 / 576 * 100vw);
                }

            .internal__main-content-text-container {
                font-size: calc(10px + 13 / 800 * 100vw);
                line-height: calc(12px + 12 / 800 * 100vw);
            }

                .internal__main-content-text-container .internal__main-header {
                    font-size: calc(80 / 800 * 100vw);
                    line-height: calc(94 / 800 * 100vw);
                    margin-bottom: calc(38 / 800 * 100vw);
                }

                .internal__main-content-text-container p {
                    margin-bottom: calc(38 / 800 * 100vw);
                }

            .internal__main-content-img-container {

            }

                .internal__main-content-img {
                    margin-bottom: calc(70 / 800 * 100vw);
                    max-width: calc(760 / 800 * 100vw);
                }
}
/** INTERNAL/ABOUT PAGE CONTENT END */

/** ABOUT PAGE PARTNERS START */
.mainpage-partners {
}
.about__partners {
    background-color: #f2f2f2;
    padding-bottom: 177px;
}

    .about__partners-title {

    }

    .about__partners-container {
        align-items: center;
        display: grid;
        grid-gap: 108px;
        grid-template-columns: repeat(3, 1fr);
    }

        .about__partners-img {
            width: 100%;
            height: auto;
        }

@media (max-width: 1920px) {

    .about__partners {
        padding-bottom: calc(177 / 1920 * 100vw);
    }

        .about__partners-title {

        }

            .about__partners-container {
                grid-gap: calc(108 / 1920 * 100vw);
                grid-template-columns: repeat(3, 1fr);
            }

                .about__partners-img {

                }
}

@media (max-width: 800px) {

    .about__partners {
        padding-bottom: calc(177 / 800 * 100vw);
    }

        .about__partners-title {

        }

            .about__partners-container {
                grid-gap: calc(108 / 800 * 100vw);
                grid-template-columns: 1fr;
            }

                .about__partners-img {

                }
}
/** ABOUT PAGE PARTNERS END */

/** INTERNAL INDEX PAGE CONTENT START */
.internal__main {

}

    .internal__main-index {

    }

    .internal__main-index-title {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }

        .internal__main-index-title .internal__main-index-title-header {
            flex-grow: 1;
            font-size: 55px;
            margin-bottom: 0;
        }

        .internal__main-index-title-search-input {
            background-color: #f2f2f2;
            border: 0;
            color: #B3B3B3;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            margin-right: 40px;
            padding: 12px 25px 16px 25px;
        }

        .internal__main-index-title-search-select-container {
            background-color: #ffed00;
            color: #000;
            cursor: pointer;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 42px;
            padding: 12px 90px 16px 29px;
            position: relative;
            width: 380px;
        }

            .internal__main-index-title-search-select-container:after {
                background: url("../img/svg/select-arrow-down.svg") right center no-repeat;
                background-size: contain;
                content: '';
                position: absolute;
                height: 100%;
                right: 30px;
                top: 0;
                width: 30px;
            }

            .internal__main-index-title-search-select-title {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .internal__main-index-title-search-select-items {
                background-color: #ffed00;
                left: auto;
                max-height: 300px;
                max-width: 700px;
                min-width: 100%;
                overflow-y: auto;
                position: absolute;
                right: 0;
                top: 100%;
                width: 700px;
                z-index: 10;
            }

                .internal__main-index-title-search-select-container.collapsed .internal__main-index-title-search-select-items {
                    display: none;
                }

                .internal__main-index-title-search-select-item {
                }
                    .internal__main-index-title-search-select-item-input {
                        display: none;
                    }

                    .internal__main-index-title-search-select-item-label {
                        cursor: pointer;
                        display: block;
                        overflow-wrap: anywhere;
                        padding: 12px 29px 16px 29px;
                        width: 100%;
                    }

                        .internal__main-index-title-search-select-item-label:hover {
                            background-color: #f1e765;
                        }

        .internal__main-index-content {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 60px;
        }

            .internal__page-news-container {
                background: #f2f2f2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 0 35px 0;
                width: 100%;
            }

                .internal__page-news-text-item {
                    padding-left: 40px;
                    padding-right: 40px;
                }

                .internal__page-news-img {
                    margin-bottom: 35px;
                    width: 100%;
                }

                .internal__page-news-date {
                    align-self: flex-start;
                    color: #808080;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 28px;
                    margin-bottom: 10px;
                }

                .internal__page-news-title {
                    align-self: flex-start;
                    color: #000000;
                    flex-grow: 1;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 42px;
                    margin-bottom: 10px;
                }

                .internal__page-news-description {
                    align-self: flex-start;
                    color: #000000;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    max-height: calc(3 * 28px);
                    overflow: hidden;
                    overflow-wrap: anywhere;
                    text-overflow: ellipsis;
                }

                .internal__page-news-link-container {
                    color: #808080;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 23px;
                    line-height: 28px;
                }

                    .internal__page-news-link {
                        color: inherit;
                        text-decoration: none;
                    }

        .internal__main-content-show-more {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

            .internal__main-content-show-more-button {
                background: #008EFA;
                border: 0;
                color: #FFFFFF;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                height: 70px;
                line-height: 42px;
                margin-right: 40px;
                padding: 12px 40px 16px 40px;
            }

            .internal__main-content-show-more-image {
                height: 70px;
                width: auto;
            }

@media (max-width: 1920px) {
    .internal__main {

    }

        .internal__main-index {
        }


        .internal__main-index .internal__main-index-title {
            margin-bottom: calc(50 / 1920 * 100vw);
        }

            .internal__main-index .internal__main-index-title .internal__main-index-title-header {
                font-size: calc(55 / 1920 * 100vw);
            }

            .internal__main-index-title-search-input {
                font-size: calc(35 / 1920 * 100vw);
                line-height: calc(42 / 1920 * 100vw);
                margin-right: calc(40 / 1920 * 100vw);
                padding: calc(12 / 1920 * 100vw) calc(25 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(25 / 1920 * 100vw);
            }

            .internal__main-index-title-search-select-container {
                font-size: calc(35 / 1920 * 100vw);
                line-height: calc(42 / 1920 * 100vw);
                padding: calc(12 / 1920 * 100vw) calc(90 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(29 / 1920 * 100vw);
                width: calc(380 / 1920 * 100vw);
            }

                .internal__main-index-title-search-select-container:after {
                    right: calc(30 / 1920 * 100vw);
                    width: calc(30 / 1920 * 100vw);
                }

                .internal__main-index-title-search-select-items {
                    max-height: calc(300 / 1920 * 100vw);
                    max-width: calc(700 / 1920 * 100vw);
                    width: calc(700 / 1920 * 100vw);
                }

                    .internal__main-index-title-search-select-item {
                    }

                        .internal__main-index-title-search-select-item-input {
                        }

                        .internal__main-index-title-search-select-item-label {
                            padding: calc(12 / 1920 * 100vw) calc(29 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(29 / 1920 * 100vw);
                        }

        .internal__main-index-content {
            grid-gap: calc(40 / 1920 * 100vw);
            margin-bottom: calc(60 / 1920 * 100vw);
        }

            .internal__page-news-container {
                padding: 0 0 calc(35 / 1920 * 100vw) 0;
            }

                .internal__page-news-text-item {
                    padding-left: calc(40 / 1920 * 100vw);
                    padding-right: calc(40 / 1920 * 100vw);
                }

                .internal__page-news-img {
                    margin-bottom: calc(35 / 1920 * 100vw);
                }

                .internal__page-news-date {
                    font-size: calc(23 / 1920 * 100vw);
                    line-height: calc(28 / 1920 * 100vw);
                    margin-bottom: calc(10 / 1920 * 100vw);
                }

                .internal__page-news-title {
                    font-size: calc(35 / 1920 * 100vw);
                    line-height: calc(42 / 1920 * 100vw);
                    margin-bottom: calc(10 / 1920 * 100vw);
                }

                .internal__page-news-description {
                    font-size: calc(23 / 1920 * 100vw);
                    line-height: calc(28 / 1920 * 100vw);
                    margin-bottom: calc(20 / 1920 * 100vw);
                    max-height: calc(3 * 28 / 1920 * 100vw);
                }

                .internal__page-news-link-container {
                    font-size: calc(23 / 1920 * 100vw);
                    line-height: calc(28 / 1920 * 100vw);
                }

    .internal__main-content-show-more {

    }

        .internal__main-content-show-more-button {
            font-size: calc(35 / 1920 * 100vw);
            height: calc(70 / 1920 * 100vw);
            line-height: calc(42 / 1920 * 100vw);
            margin-right: calc(40 / 1920 * 100vw);
            padding: calc(12 / 1920 * 100vw) calc(40 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(40 / 1920 * 100vw);
        }

        .internal__main-content-show-more-image {
            height: calc(70 / 1920 * 100vw);
        }
}

@media (max-width: 800px) {
    .internal__main {

    }

        .internal__main-index {
        }


        .internal__main-index .internal__main-index-title {
            align-items: stretch;
            flex-direction: column;
            margin-bottom: calc(50 / 800 * 100vw);
        }

            .internal__main-index .internal__main-index-title .internal__main-index-title-header {
                font-size: calc(55 / 800 * 100vw);
                margin-bottom: calc(50 / 800 * 100vw);
            }

            .internal__main-index-title-search-input {
                font-size: calc(35 / 800 * 100vw);
                line-height: calc(42 / 800 * 100vw);
                margin-bottom: calc(40 / 800 * 100vw);
                margin-right: 0;
                padding: calc(12 / 800 * 100vw) calc(25 / 800 * 100vw) calc(16 / 800 * 100vw) calc(25 / 800 * 100vw);
            }

            .internal__main-index-title-search-select-container {
                font-size: calc(35 / 800 * 100vw);
                line-height: calc(42 / 800 * 100vw);
                padding: calc(12 / 800 * 100vw) calc(90 / 800 * 100vw) calc(16 / 800 * 100vw) calc(29 / 800 * 100vw);
                width: 100%;
            }

                .internal__main-index-title-search-select-container:after {
                    right: calc(30 / 800 * 100vw);
                    width: calc(30 / 800 * 100vw);
                }

                .internal__main-index-title-search-select-items {
                    max-height: calc(300 / 800 * 100vw);
                    max-width: calc(700 / 800 * 100vw);
                    width: 100%;
                }

                    .internal__main-index-title-search-select-item {
                    }

                        .internal__main-index-title-search-select-item-input {
                        }

                        .internal__main-index-title-search-select-item-label {
                            padding: calc(12 / 800 * 100vw) calc(29 / 800 * 100vw) calc(16 / 800 * 100vw) calc(29 / 800 * 100vw);
                        }

        .internal__main-index-content {
            grid-gap: calc(40 / 800 * 100vw);
            grid-template-columns: 1fr;
            margin-bottom: calc(60 / 800 * 100vw);
        }

            .internal__page-news-container {
                padding: 0 0 calc(35 / 800 * 100vw) 0;
            }

                .internal__page-news-text-item {
                    padding-left: calc(40 / 800 * 100vw);
                    padding-right: calc(40 / 800 * 100vw);
                }

                .internal__page-news-img {
                    margin-bottom: calc(35 / 800 * 100vw);
                }

                .internal__page-news-date {
                    font-size: calc(23 / 800 * 100vw);
                    line-height: calc(28 / 800 * 100vw);
                    margin-bottom: calc(10 / 800 * 100vw);
                }

                .internal__page-news-title {
                    font-size: calc(35 / 800 * 100vw);
                    line-height: calc(42 / 800 * 100vw);
                    margin-bottom: calc(10 / 800 * 100vw);
                }

                .internal__page-news-description {
                    font-size: calc(23 / 800 * 100vw);
                    line-height: calc(28 / 800 * 100vw);
                    margin-bottom: calc(20 / 800 * 100vw);
                    max-height: calc(3 * 28 / 800 * 100vw);
                }

                .internal__page-news-link-container {
                    font-size: calc(23 / 800 * 100vw);
                    line-height: calc(28 / 800 * 100vw);
                }

    .internal__main-content-show-more {

    }

        .internal__main-content-show-more-button {
            font-size: calc(35 / 800 * 100vw);
            height: calc(70 / 800 * 100vw);
            line-height: calc(42 / 800 * 100vw);
            margin-right: calc(40 / 800 * 100vw);
            padding: calc(12 / 800 * 100vw) calc(40 / 800 * 100vw) calc(16 / 800 * 100vw) calc(40 / 800 * 100vw);
        }

        .internal__main-content-show-more-image {
            height: calc(70 / 800 * 100vw);
        }
}
/** INTERNAL INDEX PAGE CONTENT END */