@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .styled-checkbox:checked,
    .styled-checkbox:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .styled-checkbox:checked + label,
    .styled-checkbox:not(:checked) + label {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        padding-left: 59px;
        position: relative;
    }

    .styled-checkbox:checked + label:before,
    .styled-checkbox:not(:checked) + label:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 35px;
        height: 35px;
        border: 1px solid #dddddd;
        border-radius: 100%;
        background-color: #ffffff;
    }

    .styled-checkbox:checked + label:after,
    .styled-checkbox:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .styled-checkbox:checked + label:after,
    .styled-checkbox:not(:checked) + label:after {
        left: 5px;
        top: 7px;
        width: 25px;
        height: 18px;
        border-radius: 1px;
        border-left: 10px solid #9F7DFA;
        border-bottom: 10px solid #9F7DFA;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .styled-checkbox:not(:checked) + label:after {
        opacity: 0;
    }

    .styled-checkbox:checked + label:after {
        opacity: 1;
    }
}

@media (max-width: 1920px) {
    /*@supports(-webkit-appearance: none) or (-moz-appearance: none) {*/
        .styled-checkbox:checked + label,
        .styled-checkbox:not(:checked) + label {
            font-size: calc(18 / 1920 * 100vw);
            line-height: calc(22 / 1920 * 100vw);
            padding-left: calc(59 / 1920 * 100vw);

        }

        .styled-checkbox:checked + label:before,
        .styled-checkbox:not(:checked) + label:before {
            width: calc(35 / 1920 * 100vw);
            height: calc(35 / 1920 * 100vw);
        }

        .styled-checkbox:checked + label:after,
        .styled-checkbox:not(:checked) + label:after {
            left: calc(5 / 1920 * 100vw);
            top: calc(7 / 1920 * 100vw);
            width: calc(25 / 1920 * 100vw);
            height: calc(18 / 1920 * 100vw);
            border-left-width: calc(10 / 1920 * 100vw);
            border-bottom-width: calc(10 / 1920 * 100vw);
        }

    /*}*/
}

@media (max-width: 576px) {
    @supports(-webkit-appearance: none) or (-moz-appearance: none) {
        .styled-checkbox:checked + label,
        .styled-checkbox:not(:checked) + label {
            font-size: calc(16 / 576 * 100vw);
            line-height: calc(19 / 576 * 100vw);
            padding-left: calc(53 / 576 * 100vw);
        }

        .styled-checkbox:checked + label:before,
        .styled-checkbox:not(:checked) + label:before {
            width: calc(31 / 576 * 100vw);
            height: calc(31 / 576 * 100vw);
        }

        .styled-checkbox:checked + label:after,
        .styled-checkbox:not(:checked) + label:after {
            left: calc(6 / 576 * 100vw);
            top: calc(8 / 576 * 100vw);
            width: calc(20 / 576 * 100vw);
            height: calc(15 / 576 * 100vw);
            border-left-width: calc(8 / 576 * 100vw);
            border-bottom-width: calc(8 / 576 * 100vw);
        }
    }
}