.styled-select {
    background-color: #ffed00;
    color: #000;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    width: 380px;
}

    .styled-select:after {
        background: url("./select-arrow-down.svg") right center no-repeat;
        background-size: contain;
        content: '';
        position: absolute;
        height: 100%;
        pointer-events: none;
        right: 30px;
        top: 0;
        width: 30px;
    }

    .styled-select-title {
        overflow: hidden;
        padding: 12px 90px 16px 29px;
        text-overflow: ellipsis;
        width: 100%;
    }

    .styled-select-items {
        background-color: inherit;
        left: 0;
        max-height: 300px;
        max-width: 700px;
        min-width: 100%;
        overflow-y: auto;
        position: absolute;
        right: auto;
        top: 100%;
        width: 700px;
        z-index: 10;
    }

    .styled-select.right .styled-select-items {
        left: auto;
        right: 0;
    }

    .styled-select.collapsed .styled-select-items {
        display: none;
    }

        .styled-select-item {
        }

            .styled-select-item-input {
                display: none;
            }

            .styled-select-item-label {
                cursor: pointer;
                display: block;
                overflow-wrap: anywhere;
                padding: 12px 29px 16px 29px;
                width: 100%;
            }

                .styled-select-item-label:hover {
                    background-color: #f1e765;
                }

@media (max-width: 1920px) {
    .styled-select {
        font-size: calc(35 / 1920 * 100vw);
        line-height: calc(42 / 1920 * 100vw);
        width: calc(380 / 1920 * 100vw);
    }

        .styled-select:after {
            right: calc(30 / 1920 * 100vw);
            width: calc(30 / 1920 * 100vw);
        }

        .styled-select-title {
            padding: calc(12 / 1920 * 100vw) calc(90 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(29 / 1920 * 100vw);
        }

        .styled-select-items {
            max-height: calc(300 / 1920 * 100vw);
            max-width: calc(700 / 1920 * 100vw);
            width: calc(700 / 1920 * 100vw);
        }

            .styled-select-item {
            }

                .styled-select-item-input {
                }

                .styled-select-item-label {
                    padding: calc(12 / 1920 * 100vw) calc(29 / 1920 * 100vw) calc(16 / 1920 * 100vw) calc(29 / 1920 * 100vw);
                }
}

@media (max-width: 576px) {
    .styled-select {
        font-size: calc(35 / 576 * 100vw);
        line-height: calc(42 / 576 * 100vw);
        width: 100%;
    }

        .styled-select:after {
            right: calc(30 / 576 * 100vw);
            width: calc(30 / 576 * 100vw);
        }

        .styled-select-title {
            padding: calc(12 / 576 * 100vw) calc(90 / 576 * 100vw) calc(16 / 576 * 100vw) calc(29 / 576 * 100vw);
        }

        .styled-select-items {
            max-height: calc(300 / 576 * 100vw);
            max-width: calc(700 / 576 * 100vw);
            width: 100%;
        }

            .styled-select-item {
            }

                .styled-select-item-input {
                }

                .styled-select-item-label {
                    padding: calc(12 / 576 * 100vw) calc(29 / 576 * 100vw) calc(16 / 576 * 100vw) calc(29 / 576 * 100vw);
                }
}